{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      
      <span class="govuk-caption-xl">Submit your appeal</span>
      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>
      <p>Before you submit your appeal, take a moment to make sure you're happy with the answers you've provided.</p>

      <h2 class="govuk-heading-m">Before you start</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What are you appealing?
            </dt>
            <dd class="govuk-summary-list__value">
               I'm appealing a decision I received
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="your-relationship">
                Change<span class="govuk-visually-hidden"> what you are appealing</span>
              </a>
            </dd>
          </div>
        </dl>


      <h2 class="govuk-heading-m">About you</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Your name
            </dt>
            <dd class="govuk-summary-list__value">
               Manish Sharma
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="your-details">
                Change<span class="govuk-visually-hidden"> your name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Your email
            </dt>
            <dd class="govuk-summary-list__value">
               manish.sharma@example.com
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="your-details">
                Change<span class="govuk-visually-hidden"> your email</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">About the relevant Local Planning Authority</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name of LPA
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Brighton and Hove County Council</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="lpa-details">
                Change<span class="govuk-visually-hidden"> LPA name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Planning application number
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">W/828006F</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="lpa-details">
                Change<span class="govuk-visually-hidden"> planning application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Decision notice
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">w828006f_FINAL.pdf</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="upload-decision">
                Change<span class="govuk-visually-hidden"> uploaded decision notice</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">About the original planning application</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name on original planning application
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Manish Sharma</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="application-name">
                Change<span class="govuk-visually-hidden"> name of applicant</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date you applied for planning permission
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">20/01/2020</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="application-date">
                Change<span class="govuk-visually-hidden"> date of application</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Original application form
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">13EastHill_application.doc</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="upload-application">
                Change<span class="govuk-visually-hidden"> uploaded application</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Changes to the description of the development
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Yes</p>
              <p class="govuk-body">proposal_update.doc</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="upload-application-changes">
                Change<span class="govuk-visually-hidden"> uploaded changes to application</span>
              </a>
            </dd>
          </div>
      </dl>

     <h2 class="govuk-heading-m">About the site</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address of the appeal site
          </dt>
          <dd class="govuk-summary-list__value">
            Buckingham Palace<br>
            London<br>
            SW1A 1AA
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="site-location">
              Change<span class="govuk-visually-hidden"> site location</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Within Green Belt?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="site-location-green-belt">
              Change<span class="govuk-visually-hidden"> green belt status</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Can the Inspector see the whole of the appeal site from a public road?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="site-access">
              Change<span class="govuk-visually-hidden"> public visibility of site</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are there any health and safety issues on the appeal site?
          </dt>
          <dd class="govuk-summary-list__value">
            <p>Yes</p>
            <p>There are unmarked changes in level or missing fittings</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="site-access-safety">
              Change<span class="govuk-visually-hidden"> health and safety concerns of site</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you own the whole appeal site?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="site-ownership">
              Change<span class="govuk-visually-hidden"> site ownership</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Your appeal</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your appeal statement
          </dt>
          <dd class="govuk-summary-list__value">
            ms_appeal02.pdf
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="grounds-of-appeal">
              Change<span class="govuk-visually-hidden"> grounds of appeal</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Documents to support your appeal
          </dt>
          <dd class="govuk-summary-list__value">
            IMG200720_215.jpg<br>
            IMG200720_218.jpg<br>
            IMG200720_219.jpg<br>
            IMG200720_221.jpg
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="supporting-documents">
              Change<span class="govuk-visually-hidden"> other documents</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Other relevant appeals
          </dt>
          <dd class="govuk-summary-list__value">
            n/a
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="other-appeals">
              Change<span class="govuk-visually-hidden"> other relevant appeals</span>
            </a>
          </dd>
        </div>


      </dl>


      <form action="submission" method="post" novalidate>
        <button class="govuk-button" data-module="govuk-button">
            Save and continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
