{% extends "layout-save.html" %}

{% block pageTitle %}
  Local Planning authority details
{% endblock %}

{% block content %}

    <div class="govuk-grid-column-two-thirds">
      <form action="upload-decision" method="post" novalidate>
        <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>About the relevant Local Planning Authority</span>
        <h1 class="govuk-heading-l">
          Local Planning Authority (LPA) details
        </h1>
        <div class="govuk-form-group">
          <label class="govuk-label" for="lpa-name">
            Full name of the LPA that dealt with your original planning application
          </label>
          <input value="{{ data['lpa-name'] }}" class="govuk-input" id="lpa-name" name="lpa-name" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="application-number">
            Planning application number
          </label>
          <span id="application-number-hint" class="govuk-hint">
            You can find this on the LPA decision notice.
          </span>
          <input value="{{ data['application-number'] }}" class="govuk-input govuk-!-width-one-half" id="application-number" name="application-number" type="text">
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

        <input type="hidden" name="lpadetails-completed" value="govuk-tag app-task-list__task-completed">
        <input type="hidden" name="lpadetails-completedText" value="Completed">
      </form>
    </div>

{% endblock %}
