{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Appeal a householder planning decision</span>
      <h1 class="govuk-heading-xl">
        Prototype list
      </h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appeal submitted
          </dt>
          
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="/manage-appeal-v5/appellant/confirm-submitted">Submitted confirmation page</a>
              </li>
              <li>
                <a class="govuk-link" href="/manage-appeal-v5/appellant/emails/submitted">View notification email</a>
              </li>
              <li>
                <a class="govuk-link" href="/manage-appeal-v5/appellant/submitted">View Prototype</a>
              </li>
            </ul>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Local Planning Department submit evidence
          </dt>

          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="/manage-appeal-v5/appellant/emails/council-evidence">View notification email</a>
              </li>
              <li>
                <a class="govuk-link" href="/manage-appeal-v5/appellant/local-council-docs">View Prototype</a>
              </li>
            </ul>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Site inspection
          </dt>

          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="/manage-appeal-v5/appellant/emails/inspection-booked">View notification email</a>
              </li>
              <li>
                <a class="govuk-link" href="/manage-appeal-v5/appellant/inspection-booked">View Prototype</a>
              </li>
            </ul>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appeal successful
          </dt>

          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="/manage-appeal-v5/appellant/emails/accepted">View notification email</a>
              </li>
              <li>
                <a class="govuk-link" href="/manage-appeal-v5/appellant/accepted">View Prototype</a>
              </li>
            </ul>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appeal Unsuccessful
          </dt>

          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="/manage-appeal-v5/appellant/emails/rejected">View notification email</a>
              </li>
              <li>
                <a class="govuk-link" href="/manage-appeal-v5/appellant/rejected">View Prototype</a>
              </li>
            </ul>
          </dd>
        </div>

      </dl>
  </div>
</div>
{% endblock %}
