{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- <span class="govuk-caption-xl"><span class="govuk-visually-hidden"></span>{{data.user.location.street.number}} {{data.user.location.street.name}} </span> -->
      
      <h1 class="govuk-heading-l">
        Your planning appeal progress
      </h1>

      <div class="govuk-panel govuk-panel--confirmation">
        <h2 class="govuk-panel__title">
          Your Appeal has been successful
        </h2>
        
      </div>
      
      <h2 class="govuk-heading-m">What happens next?</h2>
      <p>The Planning Inspectorate will tell Maidstone Borough Council that your appeal has been successful and you can carry out the proposed work.</p>

      <p><a href="history-accepted" title="">View the full details of the appeal decision</a>.</p>

    </div>
  </div>

{% endblock %}
