{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- <span class="govuk-caption-xl"><span class="govuk-visually-hidden"></span>{{data.user.location.street.number}} {{data.user.location.street.name}} </span> -->
      
      <h1 class="govuk-heading-l">
        Your planning appeal history
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data.user.name.first}} {{data.user.name.last}}
          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appeal address
          </dt>
          <dd class="govuk-summary-list__value">
            {{data.user.location.street.number}} {{data.user.location.street.name}}<br>
            {{data.user.location.city}}<br>
            {{data.user.location.postcode}}
          </dd>
        </div>
      </dl>



      <h2 class="govuk-heading-m">Appeal history</h2>

      <span class="govuk-caption-m">{{ 0 | daysAgo }}</span>
      <p>Your appeal was unsuccessful.</p>
      <p><a href="decision-unsuccessful" title="">View appeal decision details</a></p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <span class="govuk-caption-m">{{ 7 | daysAgo }}</span>
      <p>An inspector from the Planning Inspectorate viewed the property.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <span class="govuk-caption-m">{{ 14 | daysAgo }}</span>
      <p>Maidstone Borough Counil submitted their evidence.</p>
      <p><a href="council-evidence" title="">View council evidence</a></p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <span class="govuk-caption-m">{{ 21 | daysAgo }}</span>
      <p>You sent your appeal.</p>
      <p><a href="appeal-details" title="">View your appeal</a></p>

    </div>
  </div>

{% endblock %}
