{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- <span class="govuk-caption-xl"><span class="govuk-visually-hidden"></span>{{data.user.location.street.number}} {{data.user.location.street.name}} </span> -->
      <h1 class="govuk-heading-xl">
        The status of your planning appeal
      </h1>

      <div class="govuk-inset-text">
        <p class="govuk-body-l">The local planning department have uploaded their evidence.</p>
        <p><a href="council-evidence">View the local planning department's evidence</a>
      </div>

       <h2 class="govuk-heading-m">What happens next?</h2>
      
       <ul class="govuk-list govuk-list--bullet">

      <li>We will contact you if the Inspector needs to make a site visit.​</li>
      <li>The Inspector will then consider all the evidence to make their decision.</li>
    </ul>
      <p><a href="appeal-details" title="">View your appeal details</a></p>
    </div>
  </div>

{% endblock %}
