{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- <span class="govuk-caption-xl"><span class="govuk-visually-hidden"></span>{{data.user.location.street.number}} {{data.user.location.street.name}} </span> -->
      <h1 class="govuk-heading-xl">
        Your planning appeal progress
      </h1>

      <div class="govuk-inset-text">
        <p class="govuk-body-l">Your appeal has been submitted.</p>
      </div>
       <h2 class="govuk-heading-m">What happens next?</h2>
      
       <ul class="govuk-list govuk-list--bullet">
        
          <li>The Planning Inspectorate will need to make sure your appeal is valid. This should take around 2 weeks, but may take longer in busy periods. </li>

          <li>Once we’ve checked that your appeal is valid, we’ll start your appeal and let you know. </li>

          <li>Your Local council will need to submit their evidence. This usually takes about 1 week from when you submitted your appeal. We'll let you know when this happens and you can view them here. </li>

          <li>A planning inspector may need to visit the property for an inspection. We will contact you to arrange this.</li>
    </ul>

      <p><a href="appeal-details" title="">View your appeal details</a></p>
    </div>
  </div>

{% endblock %}
