{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Please complete | Appeal a planning decision
{% endblock %}

{% block content %}


<h1 class="govuk-heading-l">Components</h1>

<ul class="govuk-list">
  <li>
    <a href="/components/select-council" title="">Accessible autocomplete</a> (select a council)
  </li>
  <li>
    <a href="/components/search-council" title="">search for a council</a>
  </li>
  <li>
    <a href="/components/file-upload" title="">file upload</a> (MOJ multiple file upload)
  </li>
    <a href="/components/loading-page" title="">Loading page</a>
  </li>
</ul>

{% endblock %}



