{% extends "layout.html" %}

{% block pageTitle %}
  Local Planning authority details
{% endblock %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">The deadline for appeal has passed</h1>
        <p class="govuk-body">
          The deadline was 1&nbsp;January&nbsp;2020.
        </p>
        <p class="govuk-body">
          See our <a class="govuk-link" href="#">guide to appealing a planning decision</a> to find out more about appeal deadlines.
        </p>
      </div>
    </div>


{% endblock %}
