{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="task-list" method="post" novalidate>
      <span class="govuk-caption-xl"><span class="govuk-visually-hidden">Section. </span>About the site</span>
      <h1 class="govuk-heading-xl">
        Agricultural holding
      </h1>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            If you are not the sole owner of the site you need to tell us who the other owners are, and confirm that you have given them notice.
          </strong>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="file-upload-1">
            Provide a list of all tenants and the date they were notified. That date can be today.
          </label>
          <input value="{{ data['file-upload-agri-'] }}" class="govuk-file-upload" id="file-upload-agri" name="file-upload-agri" type="file">
        </div>

          <div class="govuk-form-group">
            <button class="govuk-button" data-module="govuk-button">
                Save and continue
              </button>
          </div>
          <input type="hidden" name="agriculture-completed" value="govuk-tag app-task-list__task-completed">
          <input type="hidden" name="agriculture-completedText" value="Completed">
        </form>
    </div>
  </div>

{% endblock %}
