{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Alternative appeal statements
{% endblock %}

{% block content %}
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Appeal a householder planning decision</span>
      <h1 class="govuk-heading-xl">
        Appeals statement options
      </h1>
      <p>Based on earlier work and discussions with stakeholders, we've identified 5 alternative approaches to the current 'read this guidance, write an essay, upload it' interaction:</p>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Option 1
          </dt>
          <dd class="govuk-summary-list__value">
             <p>Test removing the appeal statement altogether</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="option1/appeal-statement">
              View <span class="govuk-visually-hidden"> prototype</span>
            </a>     
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Option 2
          </dt>
          <dd class="govuk-summary-list__value">
             <p>Design and test making it clearly optional</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="option2/appeal-statement">
              View <span class="govuk-visually-hidden"> prototype</span>
            </a>     
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Option 3
          </dt>
          <dd class="govuk-summary-list__value">
             <p>Try a downloadable template and guidance page on GOV.UK</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="option3/appeal-statement">
              View <span class="govuk-visually-hidden"> prototype</span>
            </a>     
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Option 4
          </dt>
          <dd class="govuk-summary-list__value">
             <p>Design and test adding guidance about what they should write, and split it up into a series of interactions within submission journey</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="option4/appeal-statement">
              View <span class="govuk-visually-hidden"> prototype</span>
            </a>     
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Option 5
          </dt>
          <dd class="govuk-summary-list__value">
             <p>Change submission to ask for the things we know are useful to Inspectors</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="option5/appeal-statement">
              View <span class="govuk-visually-hidden"> prototype</span>
            </a>     
          </dd>
        </div>
      </dl>
    </div>
{% endblock %}
