{% extends "layout-notify.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

<h2 class="govuk-heading-l">Your planning appeal</h2>

<h3 class="govuk-heading-m">From: <a href="mailto:info@planninginspectorate.gov.uk">info@planninginspectorate.gov.uk</a></h3>

<p>Dear Manish Sharma</p>

<h3 class="govuk-heading-m">Confirm your email address</h3>

<p>Confirm your email address to save your progress: <a href="save-confirmation">https://householder-appeal.service.gov.uk/verify/?ref=32478dkjhvcnuierodkjn56743</a></p>

<p>We'll send you second email with a link to get back into your appeal.​</p>
<p>If you did not request this, or no longer need to save your progress, you can just delete this email.​​</p>

<p>Regards
	<br />The Planning Inspectorate</p>
<p>----------</p>
<p>Need help? You can <a href="mailto:enquiries@planninginspectorate.gov.uk">email our customer support team</a> or call them on 0303 444 5000.
{% endblock %}
