{% extends "layout.html" %}

{% set questions = [
  {
    "text": "Name",
    "answer": data.user.name.first + " " + data.user.name.last
  },
  {
    "text": "Do you agree with this choice of Procedure?",
    "answer": "Yes"
  },
  {
    "text": "Do you have any relevant emerging development plan policies?",
    "answer": "No"
  },
  {
    "text": "IS there a list of suggested conditions?",
    "answer": "No"
  },
  {
    "text": "Is there a need for a planning obligation?",
    "answer": "Yes"
  },
  {
    "text": "Is the site in, or adjecent to, a conservation area",
    "answer": "Yes"
  }
  ]%}
  

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Appeal details
      </h1>

      <p>The following information was submitted on 19 July 2020.</p>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appellant name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data.user.name.first}} {{data.user.name.last}}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <!--<dt class="govuk-summary-list__key">
            Appellant email
          </dt>
          <dd class="govuk-summary-list__value">
            {{data.user.email}}
          </dd>-->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appeal Site location
          </dt>
          <dd class="govuk-summary-list__value">
            {{data.user.location.street.number}} {{data.user.location.street.name}}<br>
            {{data.user.location.city}}<br>
            {{data.user.location.postcode}}
          </dd>
        </div>

        <!--<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Local Council
          </dt>
          <dd class="govuk-summary-list__value">
            {{data.user.location.city}} Borough Council
          </dd>
        </div>-->

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            The decision notice
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="/public/images/Decision_Notice.pdf">Download decision notice</a> 
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appeal statemnt
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="/public/images/appeal-statement.pdf">Download appeal statement</a> 
          </dd>
        </div>
      </dl>

      <!--<dl class="govuk-summary-list">

        {% for question in questions %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            {{ question.text }}
          </dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            {{ question.answer }}
          </dd>
        </div>
        {% endfor %}
        
      </dl>-->
      
  </div>

{% endblock %}
