{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Please complete | Appeal a planning decision
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">We do not recognise that reference code</h1>      
        <p class="govuk-body">Your appeal is still saved.</p>
        <p>Your reference code is in the email we sent you when you saved your appeal.</p>
        

        <p>TRY AGAIN INPUT</p>
        <h4>If you're still having problems</h4>
        <ul>
          <li>check the email hasn't gone into your spam/bulk folder</li>
          <li>copy and paste the reference code, rather than typing it in</li>
          <li></li>
        </ul>
        <p class="govuk-body">
          <a class="govuk-link" href="#">Contact the Planning Appeals Helpdesk</a> if you need to recover your reference code.
        </p>
    </div>
  </div>

{% endblock %}
