{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Please complete | Appeal a planning decision
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Appeal a householder planning decision
      </h1>
      <p>A householder appeal must be received by the Planning Inspectorate within 12 weeks of the decision date.</p>
      <p>If you do not submit it in time, you will lose your right to appeal.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span>Before you start
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v2/eligibility/applicant" aria-describedby="">
                  Check you can appeal - save and return
                </a>
              </span>
               <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span>About you
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="your-details" aria-describedby="your-details-status">
                  Your details
                </a>
              </span>
               <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">In progress</strong>
            </li>
          </ul>
        </li>
        
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> About the relevant Local Planning Authority
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v3/lpa-details">
                  Local Planning Authority (LPA) details
                </a>
              </span>
              <strong name="lpa-details-status" class="{{data['lpadetails-completed']}}" >{{data['lpadetails-completedText']}}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v3/upload-decision">
                  Upload the decision notice
                </a>
              </span>
              <strong name="deciison-notice-status" class="{{data['decision-notice-completed']}}" >{{data['decision-notice-completedText']}}</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> About the original planning application
          </h2>
          <ul class="app-task-list__items"> 
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v3/application-name">
                  Name on original planning application
                </a>
              </span>
              <strong name="appellant-name-status" class="{{data['appellant-name-completed']}}" >{{data['appellant-name-completedText']}}</strong>
            </li>       
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v3/application-date">
                  Date you applied for planning permission
                </a>
              </span>
              <strong name="planning-date-status" class="{{data['planning-permission-completed']}}" >{{data['planning-permission-completedText']}}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v3/upload-application">
                  Upload the application form
                </a>
              </span>
              <strong name="application-upload-status" class="{{data['application-upload-completed']}}" >{{data['application-upload-completedText']}}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v3/upload-application-changes">
                  The description of the development
                </a>
              </span>
              <strong name="development-description-status" class="{{data['development-description-completed']}}" >{{data['development-description-completedText']}}</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> About the site
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v3/site-location">
                  Site location
                </a>
              </span>
              <strong name="site-location-status" class="{{data['site-location-completed']}}" >{{data['site-location-completedText']}}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v3/site-access">
                  Access to site
                </a>
              </span>
              <strong name="site-access-status" class="{{data['all-access-completed']}}" >{{data['all-access-completedText']}}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v3/site-ownership">
                  Site ownership
                </a>
              </span>
              <strong name="site-ownership-status" class="{{data['site-ownership-completed']}}" >{{data['site-ownership-completedText']}}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v3/notification">
                  Agricultural holding
                </a>
              </span>
              <strong name="agricaultural-status" class="{{data['agriculture-completed']}}" >{{data['agriculture-completedText']}}</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">6. </span> Your appeal
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v3/grounds-of-appeal">
                  Your appeal statement
                </a>
              </span>
              <strong name="appeal-statement-status" class="{{data['your-appeal-completed']}}" >{{data['your-appeal-completedText']}}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v3/supporting-documents">
                 Upload documents to support your appeal
                </a>
              </span>
              <strong name="supporting-documents-status" class="{{data['-completed']}}" >{{data['-completedText']}}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v3/other-appeals">
                  Other relevant appeals
                </a>
              </span>
              <strong name="other-appeals-status" class="{{data['-completed']}}" >{{data['-completedText']}}</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">7. </span> Submit your appeal
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v3/check-answers">
                  Check your answers
                </a>
              </span>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>

{% endblock %}
