{% extends "layout.html" %}

{% set questions = [
  {
    "text": "Do you agree that the information provided accurately reflects the original application?",
    "answer": "Yes"
  },
  {
    "text": "Do you agree with this choice of Procedure?",
    "answer": "Yes"
  },
  {
    "text": "Do you have any relevant emerging development plan policies?",
    "answer": "No"
  },
  {
    "text": "IS there a list of suggested conditions?",
    "answer": "No"
  },
  {
    "text": "Is there a need for a planning obligation?",
    "answer": "Yes"
  },
  {
    "text": "Is the site in, or adjecent to, a conservation area",
    "answer": "Yes"
  }
  ]%}
  

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Your appeal details</span> 
      <h1 class="govuk-heading-xl">
        Local council evidence
      </h1>

      <p>Maidstone Borough Council submitted the following information on 19 July 2020.</p>
      <p> This is for your information only, you cannot change your appeal or add new evidence.</p>
      <dl class="govuk-summary-list">

        {% for question in questions %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            {{ question.text }}
          </dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            {{ question.answer }}
          </dd>
        </div>
        {% endfor %}
        
      </dl>
      
  </div>

{% endblock %}
