{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="task-list-345complete" method="post" novalidate>
      <span class="govuk-caption-xl"><span class="govuk-visually-hidden">Section. </span>Your appeal</span>
      <h1 class="govuk-heading-xl">
        Other relevant appeals
      </h1>
      <p>The Inspector needs to know if you have any other active appeals on this site.</p>
      <div class="govuk-form-group">
        <div class="govuk-form-group">
        <label class="govuk-label" for="other-appeals">
          Enter related appeal reference numbers (optional)
        </label>
        <span id="other-appeals-hint" class="govuk-hint">You can add multiple references separated by commas.</span>
        <input class="govuk-input" id="other-appeals" name="other-appeals" spellcheck="false">
      </div>
      </div>




      <div class="govuk-form-group">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </div>
        </form>
    </div>
  </div>

{% endblock %}
