{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">About the site</span>
      <h1 class="govuk-heading-xl">
        Site location
      </h1>
      <form action="site-access" method="post" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h3 class="govuk-heading-m">Is the appeal site within a Green Belt?</h3>
            </legend>
            <!-- <p>If you do not know, contact your Local Planning Office.</p>-->
            <span id="changed-name-hint" class="govuk-hint">
              A Green Belt is an area of open land around a city, on which building is restricted. 
            </span>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="changed-name">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                  No
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="notsure">
                <label class="govuk-label govuk-radios__label" for="changed-name-3">
                  Not sure
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
