{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="site-access-safety" method="post" novalidate>
        <span class="govuk-caption-xl">About the site</span>
        <h1 class="govuk-heading-xl">
          Access to site
        </h1>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h3 class="govuk-heading-m">Would an Inspector be able to see the whole appeal site from a public road?</h3>
            </legend>
            <p>This will help us plan the site visit.</p>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio" value="yes" data-aria-controls="conditional-how-contacted-conditional">
                <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                  Yes
                </label>
              </div>
              
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                    No, access is restricted
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional">
                  <div class="govuk-form-group">
                    <span id="how-contacted-conditional-hint" class="govuk-hint">
                      Tell us how access is restricted.
                    </span>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                  </div>

                </div>


            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">    
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
