{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl"><span class="govuk-visually-hidden">Section. </span>About the site</span>
      <h1 class="govuk-heading-xl">
        Site location
      </h1>
      <h2 class="govuk-heading-l">What's the site address?</h2>
      <form action="site-location-postcode" method="post" novalidate>
      <fieldset class="govuk-fieldset govuk-!-padding-bottom-6">
        <legend class="govuk-visually-hidden">Postcode lookup</legend>
        <div class="govuk-form-group">
          <label for="postcode" class="gem-c-label govuk-label">Enter a postcode</label>
          <div id="hint-8487bd24" class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">
            For example SW1A 2AA
          </div>
          <input name="postcode" class="govuk-input govuk-input--width-10" id="postcode" type="text" aria-describedby="hint-8487bd24">
        </div>
        <button class="govuk-button" type="submit">Find</button>
      </fieldset>
    </form>
      <div class="govuk-form-group">
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Enter address manually</span>
          </summary>
          <div class="govuk-details__text">
            <fieldset class="govuk-fieldset">
              <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-1">
                  Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
                </label>
                <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-2">
                  <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
                </label>
                <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-town">
                  Town or city
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-county">
                  County
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-postcode">
                  Postcode
                </label>
                <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
              </div>
              <div class="govuk-form-group">
                <form action="site-location-green-belt" method="post" novalidate>
                  <button class="govuk-button" data-module="govuk-button">
                    Save and continue
                  </button>
                </form>
              </div>
            </fieldset>

          </div>
        </details>
      </div>
    </div>
  </div>

{% endblock %}
