{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="other-appeals" method="post" novalidate>
      <span class="govuk-caption-xl">Your appeal</span>
      <h1 class="govuk-heading-xl">
        Upload documents to support your appeal
      </h1>
      <p>These could be:
        <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-6">
          <li>details of similar developments in the immediate area</li>
          <li>extracts of other relevant policies not referred to on the LPA's decision notice</li>
          <li>Photographs to illustrate your appeal statement, for example, showing your house and its relationship to its neighbours</li>
        </ul>
      </p>

      <div class="govuk-form-group">
        <label class="govuk-heading-m" for="file-upload-1">
          Upload files (optional)
        </label>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file" multiple>
      </div>

      <div class="govuk-form-group">
      <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </form>
    </div>
  </div>

{% endblock %}