<h1 class="govuk-heading-l">{{params.heading}}</h1>

<div class="loading__container">
	<div class="loading__spinner"></div>
		<div class="loading__text govuk-body">{{ params.loadingText }}</div>
	</div>
<p>{{ params.description}} </p>

