{% extends "layout.html" %}
  

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

      <h1 class="govuk-heading-xl">
        Your planning details
        <span class="govuk-caption-xl">Planning application number: PK17/5462/F</span>
      </h1>

      
      <p>We've found the following planning application on South Gloucestershire Council's website.</p>


      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appeal site location
          </dt>
          <dd class="govuk-summary-list__value">
            55 Queensholm Drive Downend Bristol South Gloucestershire BS16 6LQ
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Local Council
          </dt>
          <dd class="govuk-summary-list__value">
            South Gloucestershire Council
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of decision
          </dt>
          <dd class="govuk-summary-list__value">
            {{ 89 | daysAgo }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Description
          </dt>
          <dd class="govuk-summary-list__value">
              Erection of two storey side extension and single storey rear extension to form additional living accommodation and creation of new vehicular access.
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Decision
          </dt>
          <dd class="govuk-summary-list__value">
              Approved, with conditions
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Decision letter
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="/public/images/PK17_5462_F-DECISION-5689953.pdf" download>View decision letter (PDF download)</a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Application form
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="/public/images/PK17_5462_F-APPLICATION_FORM.pdf" download>View application form (PDF download)</a>
          </dd>
        </div>

      </dl>      

      <div class="govuk-inset-text">
        <p>The deadline for appeal was {{ 5 | daysAgo}}.</p>
        <p>You might still be able to appealing under certain circumstances. Contact the planning inspectorate to find out more. </p>      
      </div>

      <h2 class="govuk-heading-m">Not your planning application?</h2>

      <p>If this is not the correct planning application, you can <a class="govuk-link" href="/eligibility/planning-department">search again</a>.</p>
      
  </div>

{% endblock %}
