{% extends "layout.html" %}
  

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

      <h1 class="govuk-heading-xl">
        Your planning details
        <span class="govuk-caption-xl">Planning reference: PK17/5462/F</span>
      </h1>

      <div class="govuk-inset-text">
        <p class="govuk-body-l">You have until 25 July 2020 to appeal this decision.</p>
        <a class="govuk-button" href="grounds-of-appeal">Appeal planning decision</a>
      </div>


      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appeal Site location
          </dt>
          <dd class="govuk-summary-list__value">
            55 Queensholm Drive Downend Bristol South Gloucestershire BS16 6LQ
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Local Council
          </dt>
          <dd class="govuk-summary-list__value">
            South Gloucestershire Council
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of decision
          </dt>
          <dd class="govuk-summary-list__value">
            15 June 2020
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Description
          </dt>
          <dd class="govuk-summary-list__value">
              Erection of two storey side extension and single storey rear extension to form additional living accommodation and creation of new vehicular access.
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Decision
          </dt>
          <dd class="govuk-summary-list__value">
              Approved, with conditions
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Decision letter
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="/public/images/PK17_5462_F-DECISION-5689953.pdf"  download>View decision letter (PDF download)</a>
          </dd>
        </div>
      </dl>      
  </div>

{% endblock %}
