{% extends "layout.html" %}

{% block pageTitle %}
  Check answers
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>
      <p>Before you submit your appeal, check that the information you've provided is correct.</p>

      <h2 class="govuk-heading-m">The planning application you are appealing</h2>

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Planning application number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data.planningDetails.Reference }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/eligibility/planning-department">
              Change<span class="govuk-visually-hidden"> Planning application</span>
            </a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appeal site location
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data.planningDetails.Address }}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Local planning department
          </dt>
          <dd class="govuk-summary-list__value">
            South Gloucestershire Council
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of decision
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data.planningDetails['Decision Issued Date'] | formatIdoxDecisionDate }}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Description
          </dt>
          <dd class="govuk-summary-list__value">
              {{ data.planningDetails['Proposal'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Decision
          </dt>
          <dd class="govuk-summary-list__value">
              {{ data.planningDetails.Decision }}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Decision letter
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="/public/images/PK17_5462_F-DECISION-5689953.pdf" download>View decision letter (PDF download)</a>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Plannign application form
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="/public/images/PK17_5462_F-APPLICATION_FORM.pdf" download>View planning application form (PDF download)</a>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

      </dl>  
<h2 class="govuk-heading-m">About you</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Was the original planning application made in your name?
          </dt>
          <dd class="govuk-summary-list__value">
             <p>
             {{ "yes" if data['who-are-you'] == 'applicant'}}
             {{ "no" if data['who-are-you'] == 'agent'}}
            </p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="who-are-you">
              Change<span class="govuk-visually-hidden"> if the application was made in your name</span>
            </a>
          </dd>
        </div>

        {% if data['who-are-you'] == 'agent' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Applicant name
          </dt>
          <dd class="govuk-summary-list__value">
             <p>{{ data['applicant-name'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="who-are-you">
              Change<span class="govuk-visually-hidden"> applicant name</span>
            </a>
          </dd>
        </div>    
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your name
          </dt>
          <dd class="govuk-summary-list__value">
             <p>{{ data['appellant-name'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="your-details">
              Change<span class="govuk-visually-hidden"> your name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your email
          </dt>
          <dd class="govuk-summary-list__value">
             <p>{{ data['appellant-email'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="your-details">
              Change<span class="govuk-visually-hidden"> your email</span>
            </a>
          </dd>
        </div>

        
      </dl>


      <h2 class="govuk-heading-m">About your appeal</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your appeal statement
          </dt>
          <dd class="govuk-summary-list__value">
            {{ multiFileDisplay({
                uploadedFiles: data.uploadedFiles | filesByFieldName("appeal-statement")
              }) }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="appeal-statement">
              Change<span class="govuk-visually-hidden"> appeal statement</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Documents to support your appeal
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              {{ multiFileDisplay({
                uploadedFiles: data.uploadedFiles | filesByFieldName("supporting-docs")
              }) }}
            </ul>
            
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="supporting-documents">
              Change<span class="govuk-visually-hidden"> other documents to support your appeal</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Other relevant appeals
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['other-appeals'] === 'yes' %}
              <div class="user-input-text">{{ data['other-appeals-detail'] }}</div>
            {% else %}
            <p>No</p>
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="other-appeals">
              Change<span class="govuk-visually-hidden"> other appeals at this address</span>
            </a>
          </dd>
        </div>
      </dl>


      <h2 class="govuk-heading-m">Visiting the appeal site</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you own the whole appeal site?
          </dt>
          <dd class="govuk-summary-list__value">
            yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="site-ownership">
              Change<span class="govuk-visually-hidden"> site ownership</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Can the Inspector see the whole of the appeal site from a public road?
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['site-access'] === 'no' %}
              <div class="user-input-text">{{ data['site-access-more-detail'] }}</div>
            {% else %}
            <p>Yes</p>
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="site-access">
              Change<span class="govuk-visually-hidden"> public visibility of site</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Any health and safety issues?
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['safety'] === 'yes' %}
              <div class="user-input-text">{{ data['safety-more-detail'] }}</div>
            {% else %}
            <p>No</p>
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="site-access-safety">
              Change<span class="govuk-visually-hidden"> health and safety concerns of site</span>
            </a>
          </dd>
        </div>
      </dl>

      <form action="submission" method="post" novalidate>
        <button class="govuk-button" data-module="govuk-button">
            Save and continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
