{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">The postcde does not match the planning application</h1>
  
    
    <p>The postcode does not match the planning application we found from {{councilName}}'s website.</p>

    <p><a href="planning-number" class="govuk-button" title="">Search again</a></p>

    <p>If you do not have valid reference number, you can still submit an appeal on the <a href='https://acp.planninginspectorate.gov.uk/'>Appeal Casework Portal</a>. </p>

  </div>
</div>

{% endblock %}
