{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-l">We cannot find that planning application </h1>
	
		
		<p>We cannot match the information you entered to a planning application.</p>

		<p><a href="planning-number" class="govuk-button" title="">Search again</a></p>

		<h2 class="govuk-heading-m">If you're still having problems</h2>
		<p>You can submit your appeal via the <a href='https://acp.planninginspectorate.gov.uk/'>Appeal a planning appeal service</a>. You'll need your original planning application and decision letter to hand.</p>

	</div>
</div>

{% endblock %}
