{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="planning-number-post" method="post" novalidate>

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "No planning number was entered",
                href: "#reference"
              }
            ]
          }) }}


        
        <div class="govuk-form-group govuk-form-group--error">

          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="postcode">
              What is the planning application number?
            </label>
          </h1>
          <div id="application-number-hint" class="govuk-hint">
            You can find this on the decision letter from your local planning department
          </div>
          <span id="passport-issued-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> You must enter a planning number
        </span>
          <input class="govuk-input govuk-input--width-10" id="reference" name="reference" type="text">
        
        </div>

        <div class="govuk-form-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
