{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-l">No planning application found</h1>
	
		
		<p>We have been unable to find the planning number {{data.caseref}} from South Gloucestershire Council's website.</p>

		<p><a href="planning-number" class="govuk-button" title="">Search again</a></p>

		<p>If you do not have valid reference number, you can still submit an appeal on the <a href='https://acp.planninginspectorate.gov.uk/'>Appeal Casework Portal</a>. </p>

	</div>
</div>

{% endblock %}
