{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Appeal a householder planning decision
{% endblock %}

{% block content %}
 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Appeal a householder planning decision
      </h1>
      <div class="govuk-inset-text">
        The deadline for appealing is {{ data.planningDetails['Decision Issued Date'] | formatIdoxDeadlineDate }}
      </div>
      <p>A householder appeal must be received by the Planning Inspectorate within 12 weeks of the decision date.</p>
      <p>If you do not submit it in time, you will lose your right to appeal.</p>
      Completed
      Completed

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> About the original planning application
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="planning-details" aria-describedby="your-details-status">
                  Your planning application
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="your-details-status">completed
              </strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> About you
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="who-are-you" aria-describedby="your-details-status">
                  Your details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag">
                Completed
              </strong>
            </li>

            {% if data.taskListStatus['who-are-you'] == 'agent' %}
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="applicant-name" aria-describedby="applicant-name-status">
                  Applicant name
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag">
                Completed
              </strong>
            </li>
            {% endif %}
          </ul>
        </li>


         <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Your appeal
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="appeal-statement" aria-describedby="appeal-statement-status">
                  Your appeal statement
                </a>
              </span>
              <strong name="appeal-statement-status" class="govuk-tag app-task-list__tag">
                Completed
              </strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="supporting-documents">
                 Any other documents to support your appeal​
                </a>
              </span>
              <strong name="supporting-documents-status" class="govuk-tag app-task-list__tag">
                Completed
              </strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="other-appeals">
                  Other relevant appeals
                </a>
              </span>
              <strong name="other-appeals-status" class="govuk-tag app-task-list__tag">
                Completed
              </strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Visiting the appeal site
          </h2>
          <ul class="app-task-list__items">



            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="site-ownership">
                  Ownership of the appeal site
                </a>
              </span>
              <strong name="site-ownership-status" class="govuk-tag app-task-list__tag">
                Completed
              </strong>
            </li>

                

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="site-access">
                  Access to the appeal site
                </a>
              </span>
              <strong name="site-access-status" class="govuk-tag app-task-list__tag">
                Completed
              </strong>
            </li>
             <!--<li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="site-access-notes">
                  Any notes for the Inspector
                </a>
              </span>
              <strong name="site-access-notes" class="govuk-tag app-task-list__tag">
              </strong>
            </li>-->
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="site-access-safety">
                  Any health and safety issues
                </a>
              </span>
              <strong name="site-access-status" class="govuk-tag app-task-list__tag">
                Completed
              </strong>

            </li>
            
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> Submit your appeal
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="check-answers">
                  Check your answers
                </a>
              </span>
               <strong name="site-ownership-status" class="{{data['application-completed']}}" >Not started</strong>
            </li>
          </ul>
        </li>
        
      </ol>
    </div>
  </div>
{% endblock %}
