{% extends "layout.html" %}

{% block pageTitle %}
  Your details | Appeal a householder planning decision
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <form action="your-details" method="post" novalidate>
        <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>About you</span>

        {% set nameHtml %}
          {{ govukInput({
            id: "applicant-name",
            name: "applicant-name",
            type: "text",
            label: {
              text: "Name on the original planning application"
            }
          }) }}
        {% endset %}

        {{ govukRadios({
          classes: "",
          idPrefix: "who-are-you",
          name: "who-are-you",
          fieldset: {
            legend: {
              text: "Are you the original applicant on the planning application form?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "If you are not the applicant, you must be have their permission to submit an appeal on their behalf."
          },
          items: [
            {
              value: "applicant",
              checked: checked("who-are-you", "applicant"),
              text: "Yes, the original application was made in my name​"
            },
            {
              value: "agent",
              checked: checked("who-are-you", "agent"),
              text: "No, I'm appealing on behalf of the original applicant and have their permission",
              conditional: {
                  html: nameHtml
              }
            }
          ]
        }) }}

        <input type="hidden" name="alt-your-details-completed-text" value="In progress">
        <input type="hidden" name="alt-your-details-completed" value="govuk-tag--blue">

        <button class= "govuk-button" value="">Save and continue</button>
      </form>
    </div>

  </div>

  
        
        

      
{% endblock %}



