{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#applicant-error">You need to select a response</a>
      </li>
    </ul>
  </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/applicant-eligibility-v3" method="post" novalidate>
        <span class="govuk-caption-xl"><span class="govuk-visually-hidden">Section. </span>Before you start</span>
        <h1 class="govuk-heading-xl">
          What are you appealing against?
        </h1>

        <div class="govuk-form-group govuk-form-group--error">
          <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                        <span id="passport-issued-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> You need to select a response
    </span>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="appeal-relationship-conditional" name="appeal-relationship" type="radio" value="me" data-aria-controls="conditional-appeal-relationship-conditional">
              <label class="govuk-label govuk-radios__label" for="appeal-relationship-conditional">
                I'm appealing a decision I received
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="appeal-relationship-conditional-2" name="appeal-relationship" type="radio" value="company" data-aria-controls="conditional-appeal-relationship-conditional-2">
              <label class="govuk-label govuk-radios__label" for="appeal-relationship-conditional-2">
                I'm appealing a decision my company received
              </label>
            </div>
              
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="appeal-relationship-conditional-3" name="appeal-relationship" type="radio" value="agent" data-aria-controls="conditional-appeal-relationship-conditional-3">
              <label class="govuk-label govuk-radios__label" for="appeal-relationship-conditional-3">
                I'm appealing on someone's behalf and have their permission
              </label>
            </div>

            <div class="govuk-radios__divider">or</div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="appeal-relationship-conditional-4" name="appeal-relationship" type="radio" value="out" data-aria-controls="conditional-appeal-relationship-conditional-4">
              <label class="govuk-label govuk-radios__label" for="appeal-relationship-conditional-4">
                None of these
              </label>
            </div>

          </div>
        </div>

        <div class="govuk-form-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </div>
        <input type="hidden" name="your-relationship-completed" value="{{ data['appeal-relationship'] }}">
      </form>
    </div>
  </div>

{% endblock %}
