{% extends "layout-email.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

<p>Subject: Your planning appeal</p>
<p>From: info@planninginspectorate.gov.uk</p>

<img src="{{ asset_path }}images/pi-logo.png" width="150"/>

<div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">


<p>Dear {{data.user.name.first}} {{data.user.name.last}}</p>

<p>Your appeal has been unsuccessful. </p>
<p><a href="/your-appeal-v4/appellant/rejected" title="">View the full details of the appeal decision</a></p>

<p>Kind regards<br>
The Planning Inspectorate</p>

</div>
</div>
{% endblock %}