{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="application-date" method="post" novalidate>
        <span class="govuk-caption-xl"><span class="govuk-visually-hidden">Section. </span>About the original planning application</span>
        <h1 class="govuk-heading-xl">
          Name on the application
        </h1>
        <div class="govuk-form-group">
          <label class="govuk-label" for="appellant-name">
            Only the person or organisation that made the original planning application can appeal.
          </label>
          <input class="govuk-input" id="appellant-name" name="appellant-name" type="text">
        </div>
        <div class="govuk-form-group">
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
