{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- <span class="govuk-caption-xl"><span class="govuk-visually-hidden"></span>{{data.user.location.street.number}} {{data.user.location.street.name}} </span> -->
      
      <h1 class="govuk-heading-l">
        Your planning appeal was successful
      </h1>

      {% include "../includes/appeal-details.html" %}


      <ol class="govuk-list govuk-list--number">
        <li>The development hereby permitted shall begin not later than 3 years from the date of this decision.</li>
        <li>The development hereby permitted shall be carried out in accordance with the following approved plans:Location Plan-01L; Block Plan-01B; Existing and Proposed Elevations and Roof Plan-04 REV A; Proposed Ground and First Floor Plans-03 REV A; Site Plan-01S.</li>

        <li>The materials and finishes of all new external walls, windows and roofs of the development hereby permitted shall match in type, colour and texture those of the existing building.
        </li>
        <li>Notwithstanding the provisions of the Town and Country Planning (General Permitted Development) (England) Order 2015 (or Orders amending or revoking and re-enacting the same), no windows or other openings shall be formed in the side elevation of the extension hereby approved without express planning consent from the Local Planning Authority first being obtained.</li>
      </ol>

      <h2 class="govuk-heading-s">Main Issue</h2>

      <p>The main issue is the effect of the proposal on the living conditions neighbouring occupiers, with particular regard to those at No 19 Cedar Drive.</p>

      <h2 class="govuk-heading-s">Reasons</h2>
      <ol class="govuk-list govuk-list--number">
        <li>No 17 Cedar Drive is a generous detached dwelling located within a residential estate. The surrounding dwellings are set sporadically along Cedar Drive and within clusters of dwellings and cul-de-sacs accessed via the main highway. As a result of this layout the relationship of the built form is quite relaxed, with both front and rear gardens located in close proximity to existing built form. </li>

        <li>There is an existing widow at first floor in the side elevation of No 17 Cedar Drive which would be removedas part of the appeal. The extension would include a first floor element over the garage, which sits adjacent to the boundary with No 19, and the front element of the extension wold be set down slightly from the main ridge line.</li>

        <li>Whilst the result would bean increase in overall mass, this would not be significantly more than existing on this boundary, taking account the design of the pitched roof over the garage and the current level of built form. Due to the staggered nature of these two dwellings there would still be a sufficient distance between the dwelling at No 19 and the dwelling subject to the appeal such to allow a good element of space between the built form and rear garden of No 19.</li>

        <li>Accordingly I find that the proposal would be of an acceptable scale and design, and the relative separation distance from No 19 Cedar Drive would retain acceptable levels of amenity for the occupiers of that property. It would therefore comply with Policy 33 of the Horsham District Planning Framework 2015 which requires that development be designedto avoid unacceptable harm to the amenity of occupiers of nearby property.</li>

      </ol>

      <h2 class="govuk-heading-s">Other Matters</h2>
      
      <ol class="govuk-list govuk-list--number">
          <li>I note that the Council has raised no concerns with regardsthe effect of the development on the living conditions of the occupiers of the neighbouring propertiesin Southon Close or Mile OakRoad. Given theareastopography and the distance of neighbouring properties from No 12, based on my site visit, the development proposed would not result in issues due to overlooking and there would be no detrimental effectson the living conditions of the occupiers of neighbouring properties.</li>
          <li>I note that the appellant has referred to revised plans having been submitted prior to making an application and the dispute between the parties with regards the orientation of the dwelling and that box dormers would be permitted development on side elevations. However, whether or not the development proposedwould bepermitted development under The Town and Country Planning (General Permitted Development) (England)Order 2015 (as amended) is not amatter for consideration in this appeal, and therefore I have not pursued the matter further.</li>
        </ol>  

      <h2 class="govuk-heading govuk-heading-s">Conditions</h2>

      <ol class="govuk-list govuk-list--number">
        <li>The proposal would comply with the development plan when taken as a whole ad therefore the appeal should succeed. </li>

        <li>It is necessary to specify the plans for certainty, and the materials should match those of eth existing dwelling in order to protect the character of the area. Permitted development rights should only be restricted in exceptional circumstances. Due to the location of the host dwelling on the boundary of No 19 Cedar Drive I consider that any additional insertion of windows on this elevation would give rise to harmful levels of overlooking. Therefore, in these circumstances such a condition is necessary</li>
      </ol>

{% endblock %}
