{% extends "layout-lpa.html" %}

{% set headerTitle = "case file" %}
  

{% block pageTitle %}
  LPA 
{% endblock %}

{% block content %}



  <div class="govuk-grid-column-two-thirds"> 
    <form action="officers-report" method="post" novalidate>
      <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Required documents</span>
        <h1 class="govuk-heading-l">Upload the plans used to reach the decision</h1>

          {% set uploadHtml %}
            {{ govukFileUpload({
              id: "casefile",
              name: "casefile",
              classes: 'moj-multi-file-upload__input',
              label: {
                text: "Upload files",
                classes: 'govuk-label--m'
              },
              attributes: { multiple: '' },
              errorMessage: errorMessage
            }) }}

            {{govukButton({
              text: 'Upload file',
              classes: 'govuk-button--secondary moj-multi-file-upload__button'
            })}}
          {% endset %}

          {{ mojMultiFileUpload({
            uploadedFiles: {
              heading: { text: 'Files added' },
              items: data.uploadedFiles | filesByFieldName("casefile")
            },
            uploadHtml: uploadHtml
          }) }}

      <input type="hidden" name="case-file-completed" value="govuk-tag app-task-list__task-completed">
      <input type="hidden" name="case-file-completedText" value="Completed">
      <div class="govuk-form-group">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </div>
    </form>
  </div>
  
{% endblock %}


{% block pageScripts %}
<script>
if(typeof MOJFrontend.MultiFileUpload !== 'undefined') {

  new MOJFrontend.MultiFileUpload({
    container: $('.moj-multi-file-upload'),
    uploadUrl: '/ajax-case-file',
    deleteUrl: '/ajax-case-file-delete',
    fieldName: 'casefile'
    });
  }
</script>
{% endblock %}
