{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      
      <span class="govuk-caption-xl">Submit your evidence</span>
      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>
      <p>Before you submit your evidence, take a moment to make sure you're happy with the answers you've provided.</p>


      <h2 class="govuk-heading-m">About the appeal</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Appellant submission
            </dt>
            <dd class="govuk-summary-list__value">
               The information from the appellant accurately reflects the original planning application
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="appellant-submission">
                Change<span class="govuk-visually-hidden"> feedback on appeal</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Suggested conditions
            </dt>
            <dd class="govuk-summary-list__value">
               There are no suggested conditions
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="conditions">
                Change<span class="govuk-visually-hidden"> suggested conditions</span>
              </a>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other appeals
            </dt>
            <dd class="govuk-summary-list__value">
               There are two other appeals in progress: <br><strong>  
                W/828006F</strong>, <strong>  
                W/799012F</strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="other-appeals">
                Change<span class="govuk-visually-hidden"> other appeals</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">About the Appeal site</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Appeal site location
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
               <li>The Inspector can see the relevant parts of the appeal site from public land</li>
               <li>The Inspector would not need to enter the appeal the site</li>
               <li>The Inspector would not need access to a neighbour’s land</li>
               <li>The development wouldn't affect the setting of a listed building</li>
               <li>The development is not within (or partly within) a ‘sensitive area’ (Regulation 2 of the Town and Country Planning Regulations 2011)</li>
               <li>The appeal site is in a green belt</li>
               <li>The appeal site is not in or near a Conservation Area</li>
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/lpa-submission/section-2-list">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Required documents</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Plans used to make decision
            </dt>
            <dd class="govuk-summary-list__value">
               example_document.pdf
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/lpa-submission/case-file">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Planning Officer's report
            </dt>
            <dd class="govuk-summary-list__value">
               example_document.pdf
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/lpa-submission/officers-report">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        </dl>

      
        <h2 class="govuk-heading-m">Supporting documents</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Notifying interested parties of the application
            </dt>
            <dd class="govuk-summary-list__value">
               example_document.pdf
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/lpa-submission/site-notice-ip">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Correspondence with interested parties
            </dt>
            <dd class="govuk-summary-list__value">
               example_document.pdf
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/lpa-submission/correspondence">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Notifying interested parties of the appeal
            </dt>
            <dd class="govuk-summary-list__value">
               example_document.pdf
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/lpa-submission/representations">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Did the original application require a site notice and/or a local advertisement?
            </dt>
            <dd class="govuk-summary-list__value">
               No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/lpa-submission/site-notice">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Planning history
            </dt>
            <dd class="govuk-summary-list__value">
               example_document.pdf
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/lpa-submission/planning-history">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Statutory development plan policy
            </dt>
            <dd class="govuk-summary-list__value">
               example_document.pdf
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/lpa-submission/statutory">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other relevant policies
            </dt>
            <dd class="govuk-summary-list__value">
               example_document.pdf
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/lpa-submission/policy">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Supplementary planning document extracts
            </dt>
            <dd class="govuk-summary-list__value">
               example_document.pdf
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/lpa-submission/supplementary">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Development Plan Document or Neighbourhood Plan
            </dt>
            <dd class="govuk-summary-list__value">
               not applicable
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/lpa-submission/development-plan">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        </dl>


        <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    By submitting this questionnaire, you confirm that, to the best of your knowledge, the details are correct.
  </strong>
</div>
     <form action="lpa-confirmation" method="post" novalidate>
        <button class="govuk-button" data-module="govuk-button">
            Submit
        </button>
      </form>
    </div>
  </div>

{% endblock %}
