{% extends "layout.html" %}

{% set headerTitle = "Appellant stuff" %}
  

{% block pageTitle %}
  LPA 
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> 
    <form action="lpa-task-list" method="post" novalidate>
      <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>About the appeal</span>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="is-accurate-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do you have any extra conditions? 
            </h1>
          </legend>
          <p>You do not need to tell us about the standard conditions that will be applied to any successful appeal</p>
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Standard conditions
    </span>
  </summary>
  <div class="govuk-details__text">
  <p>a) The development hereby permitted shall begin not later than three years from the date of this decision.</p>
  <p>b) The materials to be used in the construction of the external surfaces of the development hereby permitted shall match those used in the existing building.</p>
  <p>c)The development hereby permitted shall be carried out in accordance with the approved plans.</p>
  </div>
</details>


          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            
      
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="is-accurate-conditional-2" name="is-accurate" type="radio" value="phone" data-aria-controls="conditional-is-accurate-conditional-2">
              <label class="govuk-label govuk-radios__label" for="is-accurate-conditional-2">
                Yes
              </label>
            </div>

            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-is-accurate-conditional-2">
              <div class="govuk-form-group">
                <label id="site-access-conditional-hint" class="govuk-label" for="more-detail">
                  Copy and paste the list of conditions.
                </label>
                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="is-accurate-conditional" name="is-accurate" type="radio" value="email" data-aria-controls="conditional-is-accurate-conditional">
              <label class="govuk-label govuk-radios__label" for="is-accurate-conditional">
                No
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <input type="hidden" name="conditions-completed" value="govuk-tag app-task-list__task-completed">
      <input type="hidden" name="conditions-completed-text" value="Completed">
      <div class="govuk-form-group">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </div>
    </form>
  </div>

    <div class="govuk-grid-column-one-third"> 
    <table class="govuk-table">
      <caption class="govuk-table__caption">Appeal details</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Planning application number</th>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--turquoise">
      20/500818/FULL
    </strong></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Site address</th>
          <td class="govuk-table__cell">22 Argyll Street, Maidstone</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Appellant Name</th>
          <td class="govuk-table__cell">Manish Sharma</td>
        </tr>
      </tbody>
    </table>  
  </div>

</div>
{% endblock %}
