{% extends "layout-email.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}
<p>Subject: New planning appeal started planning appeal</p>
<p>From: appeals@planninginspectorate.gov.uk</p>

<img src="{{ asset_path }}images/pi-logo.png" width="150"/>

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-s">New appeal submitted</h2>

    <p>We have received an appeal submission for the following householder planning application: </p>
    <h2 class="govuk-heading-s">Application reference:</h2>
    <p>20/500818/FULL</p>

    <h2 class="govuk-heading-s">Appeal site</h2>
    <p>22 Argyll Street<br>
    Maidstone<br>
    XM26 7YS</p>

    <p><a href="task-list">Start submitting your information</a></p>

    <p>Kind regards<br>
    The Planning Inspectorate</p>
  </div>
</div>
{% endblock %}
