{% extends "layout-email.html" %}

{% block pageTitle %}
  New householder planning appeal
{% endblock %}

{% block content %}
<p>Subject: New householder planning appeal</p>
<p>From: appeals@planninginspectorate.gov.uk</p>

<img src="{{ asset_path }}images/pi-logo.png" width="150"/>

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <p>Dear Maidstone Borough Council</p>

    <p>A new <strong>householder planning appeal</strong> has been submitted for this planning application:</p>
    <h2 class="govuk-heading-l">12/2008/FUL​</h2>


    <p><strong>Site address:</strong><br>
    22 Argyll Street<br>
    Maidstone<br>
    XM26 7YS</p>

    <p>You need to <a href="lpa-task-list">submit your questionnaire and other documents</a> for the appeal by 7 October 2020.​</p>
    <!--<p><strong>Appeal reference:</strong> ZXCVBNM/1​</p>-->

    <p>Regards​,<br />The Planning Inspectorate​</p>
​
  </div>
</div>
{% endblock %}
