{% extends "layout-email.html" %}

{% block pageTitle %}
  New householder planning appeal
{% endblock %}

{% block content %}
<p>Subject: 22 Argyll Street, XM26 7YS: New HAS appeal</p>
<p>From: appeals@planninginspectorate.gov.uk</p>

<img src="{{ asset_path }}images/pi-logo.png" width="150"/>

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <p>Dear Maidstone Borough Council</p>

    <p>We have received a <strong>householder appeal</strong> against the refusal of planning application <strong>20/500818/FULL</strong>.</p>
    <p><strong>Site address:</strong><br>
    22 Argyll Street<br>
    Maidstone<br>
    XM26 7YS</p>

    <p>This will be decided by written representations.</p>

    <p>You need to <a href="lpa-task-list">submit your questionnaire and other documents</a> for the appeal by {{ 7 | daysInFuture }}.​</p>
    <!--<p><strong>Appeal reference:</strong> ZXCVBNM/1​</p>-->

    <p>Regards​,<br />The Planning Inspectorate​
      <br/><a href="mailto:appeals@planninginspectorate.gov.uk">appeals@planninginspectorate.gov.uk</a>
    </p>

​
  </div>
</div>
{% endblock %}
