{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Provide information for a householder planning appeal
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <strong class="govuk-tag govuk-tag--turquoise">
      20/500818/FULL
    </strong>
      <h1 class="govuk-heading-l">
        Householder planning appeal questionnaire
      </h1>
      
    <p class="govuk-body-l">Use the links below to submit your information. You can complete the sections in any order.</p>

    <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    You need to complete this by {{ 7 | daysInFuture }}.
  </strong>
</div>


      <ol class="app-task-list lpaq">

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span>About the appeal
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="appellant-submission" aria-describedby="appellant-submission-status">
                  Review accuracy of the appellant's submission
                </a>
              </span>
               <strong id="section-status" class="{{data['appellant-submission-completed']}}" >{{data['appellant-submission-completedText']}}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="conditions" aria-describedby="other-appeals-status">
                  Tell us about any suggested conditions
                </a>
              </span>
               <strong id="section-status" class="{{data['conditions-completed']}}" >{{data['conditions-completedText']}}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="other-appeals" aria-describedby="other-appeals-status">
                  Tell us about any appeals in the immediate area
                </a>
              </span>
               <strong id="section-status" class="{{data['other-appeals-completed']}}" >{{data['other-appeals-completedText']}}</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span>About the appeal site
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="section-2-list" aria-describedby="appellant-submission-status">
                  Questions about the appeal site
                </a>
              </span>
               <strong id="section-status" class="{{data['section2-completed']}}" >{{data['section2-completedText']}}</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span>Required documents
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="case-file" aria-describedby="appellant-submission-status">
                  Upload the plans used to reach the decision
                </a>
              </span>
               <strong id="section-status" class="{{data['case-file-completed']}}" >{{data['case-file-completedText']}}</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="officers-report" aria-describedby="appellant-submission-status">
                  Upload the Planning Officer's report
                </a>
              </span>
               <strong id="section-status" class="{{data['officers-report-completed']}}" >{{data['officers-report-completedText']}}</strong>
            </li>
          </ul>
        </li>


         <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span>Supporting documents
          </h2>
          <ul class="app-task-list__items">

           <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="site-notice-ip" aria-describedby="appellant-submission-status">
                  Interested parties
                </a>
              </span>
               <strong id="section-status" class="{{data['interested-parties-completed']}}" >{{data['interested-parties-completedText']}}</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="site-notice" aria-describedby="appellant-submission-status">
                  Site notices
                </a>
              </span>
               <strong id="section-status" class="{{data['site-notice-completed']}}" >{{data['site-notice-completedText']}}</strong>
            </li> 
            
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="planning-history" aria-describedby="appellant-submission-status">
                  Planning history
                </a>
              </span>
               <strong id="section-status" class="{{data['planning-history-completed']}}" >{{data['planning-history-completedText']}}</strong>
            </li>
            
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="statutory" aria-describedby="appellant-submission-status">
                  Statutory development plan policy
                </a>
              </span>
               <strong id="section-status" class="{{data['statutory-completed']}}" >{{data['statutory-completedText']}}</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="policy" aria-describedby="appellant-submission-status">
                  Other relevant policies
                </a>
              </span>
               <strong id="section-status" class="{{data['policies-completed']}}" >{{data['policies-completedText']}}</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="supplementary" aria-describedby="appellant-submission-status">
                  Supplementary planning document extracts
                </a>
              </span>
               <strong id="section-status" class="{{data['supplementary-completed']}}" >{{data['supplementary-completedText']}}</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="development-plan" aria-describedby="appellant-submission-status">
                  Development Plan Document or Neighbourhood Plan
                </a>
              </span>
               <strong id="section-status" class="{{data['dpd-completed']}}" >{{data['dpd-completedText']}}</strong>
            </li>

          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. Before you submit</span>
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="check-answers-confirm" aria-describedby="appellant-submission-status">
                  Check your answers
                </a>
              </span>
               <strong id="section-status" class="{{data['-completed']}}" >{{data['-completedText']}}</strong>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
{% endblock %}
