{% extends "layout-lpa.html" %}

{% set headerTitle = "Appellant stuff" %}
  

{% block pageTitle %}
  LPA 
{% endblock %}

{% block content %}

  <div class="govuk-grid-column-two-thirds"> 
    <form action="lpa-task-list" method="post" novalidate>
      <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Required documents</span>

            <h1 class="govuk-heading-l">
              Planning Officer’s report
            </h1>
          
          <label id="site-access-conditional-hint" class="govuk-label" for="more-detail">
                  Upload the Planning Officer’s report to committee or delegated report on the application, and any other relevant documents/minutes.  
                </label>

      {% set uploadHtml %}
            {{ govukFileUpload({
              id: "officers-report",
              name: "officers-report",
              classes: 'moj-multi-file-upload__input',
              label: {
                text: "Upload files",
                classes: 'govuk-label--m'
              },
              attributes: { multiple: '' },
              errorMessage: errorMessage
            }) }}

            {{govukButton({
              text: 'Upload file',
              classes: 'govuk-button--secondary moj-multi-file-upload__button'
            })}}
          {% endset %}

          {{ mojMultiFileUpload({
            uploadedFiles: {
              heading: { text: 'Files added' },
              items: data.uploadedFiles | filesByFieldName("officers-report")
            },
            uploadHtml: uploadHtml
          }) }}

      
      <input type="hidden" name="officers-report-completed" value="govuk-tag app-task-list__task-completed">
      <input type="hidden" name="officers-report-completedText" value="Completed">

      <div class="govuk-form-group">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </div>
    </form>
  </div>

{% endblock %}

{% block pageScripts %}
<script>
if(typeof MOJFrontend.MultiFileUpload !== 'undefined') {

  new MOJFrontend.MultiFileUpload({
    container: $('.moj-multi-file-upload'),
    uploadUrl: '/ajax-officers-report',
    deleteUrl: '/ajax-officers-report-delete',
    fieldName: 'officers-report'
    });
  }
</script>
{% endblock %}

