{% extends "layout-lpa.html" %}

{% set headerTitle = "Appellant stuff" %}
  

{% block pageTitle %}
  LPA 
{% endblock %}

{% block content %}

  <div class="govuk-grid-column-two-thirds"> 
    <form action="lpa-task-list" method="post" novalidate>
      <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Supporting documents</span>

            <h1 class="govuk-heading-l">
              Notifying interested parties of the appeal
            </h1>
          <p>If applicable, upload the letter used to notify interested parties about the appeal, and a list of their addresses.</p>
                
        {% set uploadHtml %}
            {{ govukFileUpload({
              id: "interested-parties",
              name: "interested-parties",
              classes: 'moj-multi-file-upload__input',
              label: {
                text: "Upload files",
                classes: 'govuk-label--m'
              },
              attributes: { multiple: '' },
              errorMessage: errorMessage
            }) }}

            {{govukButton({
              text: 'Upload file',
              classes: 'govuk-button--secondary moj-multi-file-upload__button'
            })}}
          {% endset %}

          {{ mojMultiFileUpload({
            uploadedFiles: {
              heading: { text: 'Files added' },
              items: data.uploadedFiles | filesByFieldName("interested-parties")
            },
            uploadHtml: uploadHtml
          }) }}

          <input type="hidden" name="interested-parties-completed" value="govuk-tag app-task-list__task-completed">
          <input type="hidden" name="interested-parties-completedText" value="Completed">
      <div class="govuk-form-group">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </div>
    </form>
  </div>

{% endblock %}

{% block pageScripts %}
<script>
if(typeof MOJFrontend.MultiFileUpload !== 'undefined') {

  new MOJFrontend.MultiFileUpload({
    container: $('.moj-multi-file-upload'),
    uploadUrl: '/ajax-interested-parties',
    deleteUrl: '/ajax-interested-parties-delete',
    fieldName: 'interested-parties'
    });
  }
</script>
{% endblock %}
