\{% extends "layout-lpa.html" %}

{% set headerTitle = "Appellant stuff" %}
  

{% block pageTitle %}
  LPA 
{% endblock %}

{% block content %}

  <div class="govuk-grid-column-two-thirds"> 
    <form action="/site-notice-post" method="post" novalidate>
      <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Supporting documents</span>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="is-accurate-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Did you publicise the original planning application?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            
      
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="is-accurate-conditional-2" name="was-publicised" type="radio" value="true" data-aria-controls="conditional-is-accurate-conditional-2">
              <label class="govuk-label govuk-radios__label" for="is-accurate-conditional-2">
                Yes
              </label>
            </div>


            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="is-accurate-conditional" name="was-publicised" type="radio" value="false" data-aria-controls="conditional-is-accurate-conditional">
              <label class="govuk-label govuk-radios__label" for="is-accurate-conditional">
                No
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <input type="hidden" name="site-notice-completed" value="govuk-tag app-task-list__task-completed">
      <input type="hidden" name="site-notice-completedText" value="Completed">
      <div class="govuk-form-group">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </div>
    </form>
  </div>

{% endblock %}
