\{% extends "layout-lpa.html" %}

{% set headerTitle = "Appellant stuff" %}
  

{% block pageTitle %}
  LPA 
{% endblock %}

{% block content %}

  <div class="govuk-grid-column-two-thirds"> 
    <form action="/site-notice-ip-post" method="post" novalidate>
      <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Supporting documents</span>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="interested-parties-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Did you notify interested parties?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            
      
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="interested-parties-2" name="interested-parties" type="radio" value="true" data-aria-controls="interested-parties-2">
              <label class="govuk-label govuk-radios__label" for="interested-parties-2">
                Yes
              </label>
            </div>


            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="interested-parties" name="interested-parties" type="radio" value="false" data-aria-controls="interested-parties">
              <label class="govuk-label govuk-radios__label" for="interested-parties">
                No
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      
      <div class="govuk-form-group">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </div>
    </form>
  </div>

{% endblock %}
