{% extends "layout-lpa.html" %}

{% set headerTitle = "Appellant stuff" %}
  

{% block pageTitle %}
  LPA 
{% endblock %}

{% block content %}

  <div class="govuk-grid-column-two-thirds"> 
    <form action="policy" method="post" novalidate>
      <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Documents to include</span>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="is-accurate-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Statutory development plan policy
            </h1>
          </legend>
          <label id="site-access-conditional-hint" class="govuk-label" for="more-detail">
                  Upload extracts from any statutory development plan policy (including the front page, title and date of approval/adoption and status). 
                </label>
                <input class="govuk-file-upload" id="file-upload-docs" name="file-upload-docs" type="file" multiple>

          
        </fieldset>
      </div>
      <input type="hidden" name="statutory-completed" value="govuk-tag app-task-list__task-completed">
      <input type="hidden" name="statutory-completedText" value="Completed">
      <div class="govuk-form-group">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </div>
    </form>
  </div>

{% endblock %}
