{% extends "layout-lpa.html" %}

{% set headerTitle = "Appellant stuff" %}
  

{% block pageTitle %}
  LPA 
{% endblock %}

{% block content %}

  <div class="govuk-grid-column-two-thirds"> 
    <form action="lpa-task-list" method="post" novalidate>
      <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Supporting documents</span>


          <h1 class="govuk-heading-l">
            Statutory development plan policy
          </h1>
          {% set uploadHtml %}
            {{ govukFileUpload({
              id: "statutory",
              name: "statutory",
              classes: 'moj-multi-file-upload__input',
              label: {
                text: "Upload files",
                classes: 'govuk-label--m'
              },
              attributes: { multiple: '' },
              errorMessage: errorMessage
            }) }}

            {{govukButton({
              text: 'Upload file',
              classes: 'govuk-button--secondary moj-multi-file-upload__button'
            })}}
          {% endset %}

          {{ mojMultiFileUpload({
            uploadedFiles: {
              heading: { text: 'Files added' },
              items: data.uploadedFiles | filesByFieldName("statutory")
            },
            uploadHtml: uploadHtml
          }) }}
      <input type="hidden" name="statutory-completed" value="govuk-tag app-task-list__task-completed">
      <input type="hidden" name="statutory-completedText" value="Completed">
      <div class="govuk-form-group">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </div>
    </form>
  </div>

{% endblock %}

{% block pageScripts %}
<script>
if(typeof MOJFrontend.MultiFileUpload !== 'undefined') {

  new MOJFrontend.MultiFileUpload({
    container: $('.moj-multi-file-upload'),
    uploadUrl: '/ajax-statutory',
    deleteUrl: '/ajax-statutory-delete',
    fieldName: 'statutory'
    });
  }
</script>
{% endblock %}