{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Appeal a householder planning decision</span>
      <h1 class="govuk-heading-xl">
        Prototype list
      </h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appellant
          </dt>
          <dd class="govuk-summary-list__value">
             <p>Appeal has been submitted, no changes</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="your-appeal-v3/appellant/submitted">View Prototype</a>
              </li>
            </ul>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appellant
          </dt>
          <dd class="govuk-summary-list__value">
             <p>Local council have uploaded doc</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="your-appeal-v3/appellant/emails/council-evidence">View notification email</a>
              </li>
              <li>
                <a class="govuk-link" href="your-appeal-v3/appellant/local-council-docs">View Prototype</a>
              </li>
            </ul>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appellant
          </dt>
          <dd class="govuk-summary-list__value">
             <p>Inspection booked</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="your-appeal-v3/appellant/emails/inspection-booked">View notification email</a>
              </li>
              <li>
                <a class="govuk-link" href="your-appeal-v3/appellant/inspection-booked">View Prototype</a>
              </li>
            </ul>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appellant
          </dt>
          <dd class="govuk-summary-list__value">
             <p>Appeal allowed</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="your-appeal-v3/appellant/emails/accepted">View notification email</a>
              </li>
              <li>
                <a class="govuk-link" href="your-appeal-v3/appellant/accepted">View Prototype</a>
              </li>
            </ul>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appellant
          </dt>
          <dd class="govuk-summary-list__value">
             <p>Appeal dismissed</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="your-appeal-v3/appellant/emails/rejected">View notification email</a>
              </li>
              <li>
                <a class="govuk-link" href="your-appeal-v3/appellant/rejected">View Prototype</a>
              </li>
            </ul>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Local Council
          </dt>
          <dd class="govuk-summary-list__value">
             <p>Upload Evidence</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="your-appeal-v3/council/emails/council-evidence">View notification email</a>
              </li>
              <li>
                <a class="govuk-link" href="your-appeal-v3/council/local-council-docs">View Prototype</a>
              </li>
            </ul>
          </dd>
        </div>
      </dl>
  </div>
</div>
{% endblock %}
