<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Appellant Name</dt>
      <dd class="govuk-summary-list__value">{{data.user.name.first}} {{data.user.name.last}}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Site address</dt>
      <dd class="govuk-summary-list__value">{{data.user.location.street.number}} {{data.user.location.street.name}},
            {{data.user.location.city}}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Planning application number</dt>
      <dd class="govuk-summary-list__value">20/500818/FULL</dd>
    </div>
  </dl>