{% extends "layout.html" %}

{% block pageTitle %}
  Appeal statement | Appeal a householder planning decision
{% endblock %}

{% block content %}
<div class="govuk-grid-column-two-thirds">
  <form action="appeal-statement-reasons" method="post" novalidate>
    <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Your appeal</span>
    <h1 class="govuk-heading-l">
      Your appeal statement
    </h1>      

    <p>When you appeal, the Planning Inspectorate looks at whether the local planning department (also referred to as 'Local Planning Authority' or 'LPA') correctly applied the relevant planning policies to your original planning application.</p>
    <p>The decision will be based on the local planning department’s development plan, which can be found on the local planning department’s website.</p>
    <p>When deciding whether a planning application is in line with the development plan, they may have taken into account some or all of the following:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the possible impact on the surrounding area</li>
      <li>the proposed use of the development</li>
      <li>the number, size, layout, position and external appearance of buildings</li>
      <li>the infrastructure available (for example, roads) and proposed means of access</li>
      <li>landscaping requirements</li>
    </ul>
    <p>You should set out why you are appealing the decision in your appeal statement (also called a ‘grounds of appeal’). It should respond to the local planning department’s reasons for refusal, which can be found on the decision letter.</p>
    <p>If you think there is other relevant information that supports your appeal, this is the opportunity to highlight it to the Planning Inspectorate.</p>


    <h4 class="govuk-heading-s">Reasons for refusal</h4>
    <p>The first step is to read the local planning department’s decision letter, where they list their reasons for refusing the planning application. Each reason for refusal will mention the planning policy their decision is based on, and may also refer to additional planning documents.</p> 
    <p>You should also read the planning officer’s report, and any planning committee meeting notes (if applicable). If you think the local planning department's decision to refuse your application is incorrect, explain why in your statement.</p>
    

    <h4 class="govuk-heading-s">Supporting documents</h4>
    <p>If you refer to any documents, for example photographs, in your appeal statement, you need to explain why you think they are relevant in your statement and then upload them in the next step.</p>

    
    <h4 class="govuk-heading-s">Responding to comments from interested parties</h4>
    <p>There may have been comments (also called ‘representations’) from interested parties on the original planning application. You can respond to them in your appeal statement if you want to. </p>            


    <div class="govuk-form-group">
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </div>
    <input type="hidden" name="sense-check" value="{{ data['appeal-confirmation'] }}">
    <input type="hidden" name="appeal-statement-completed" value="govuk-tag app-task-list__tag">
    <input type="hidden" name="appeal-statement-completed-text" value="Completed">
  </form>
</div>
{% endblock %}
