{% extends "layout.html" %}

{% block pageTitle %}
  Appeal statement | Appeal a householder planning decision
{% endblock %}

{% block content %}
<div class="govuk-grid-column-two-thirds">
  <form action="supporting-documents" method="post" novalidate>
    <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Your appeal statement</span>
    <h1 class="govuk-heading-l">
      Responding to comments from interested parties
    </h1>      

    <p>There may have been comments (also called ‘representations’) from interested parties on the original planning application.</p><p>You can respond to them here if you want to. </p>

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
        Your response to comments
        </label>
      </h1>
      <div id="more-detail-hint" class="govuk-hint">
        Exlpain here why you disagree with comments from interested parties.
      </div>
      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
     <a href="#">Add another reason for refusal</a>
   </div>        


    <div class="govuk-form-group">
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </div>
    <input type="hidden" name="sense-check" value="{{ data['appeal-confirmation'] }}">
    <input type="hidden" name="appeal-statement-completed" value="govuk-tag app-task-list__tag">
    <input type="hidden" name="appeal-statement-completed-text" value="Completed">
  </form>
</div>
{% endblock %}
