{% extends "layout.html" %}

{% block pageTitle %}
  Supporting appeal documents | Appeal a householder planning decision
{% endblock %}

{% block content %}
<div class="govuk-grid-column-two-thirds">
  <form action="preview-statement" method="post" novalidate>
    <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Your appeal statement</span>
    <h1 class="govuk-heading-l">
      Any other documents to support your appeal​
    </h1>
    <p>If you have referred to any documents in your statement, for example photographs, upload them here.​</p>
    <p>You do not need to upload the plans from your original planning application.</p>
    <div class="govuk-inset-text">Individual file sizes should be no more than 1.21GB</div>
    <div class="govuk-form-group">
      <label class="govuk-heading-m" for="file-upload-docs">
        Upload files (optional)
      </label>
      <input value="{{ data['file-upload-docs'] }}" class="govuk-file-upload" id="file-upload-docs" name="file-upload-docs" type="file" multiple>
    </div>
    
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help with file formats
        </span>
      </summary>
      <div class="govuk-details__text">
        Please upload your statement in one of the following formats:
        <ul class="govuk-list--bullets">
          <li>PDF &ndash; <strong>.pdf</strong></li>
          <li>Microsoft Word &ndash; <strong>.doc</strong> or <strong>.docx</strong></li>
          <li>TIF &ndash; <strong>.tif</strong> or <strong>.tiff</strong></li>
          <li>JPEG &ndash; <strong>.jpg</strong> or <strong>.jpeg</strong></li>
          <li>PNG &ndash; <strong>.png</strong></li>
        </ul>
      </div>
    </details>

    <div class="govuk-form-group">
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
      <input type="hidden" name="upload-appeal-docs-completed" value="govuk-tag app-task-list__tag">
      <input type="hidden" name="upload-appeal-docs-completed-text" value="Completed">
    </div>
  </form>
</div>
{% endblock %}