{% extends "layout-govuk.html" %}

{% block pageTitle %}
  GOV.UK
{% endblock %}

{% block content %}
<img style="float: right; margin-top: -103px" src="/public/images/search.png" />
 <div class="govuk-width-container">
  <div class="govuk-breadcrumbs ">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Housing and local services</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Planning permission and building regulations</li>
    </ol>
  </div>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Appeal a householder planning decision</h1>
          <aside class="part-navigation-container" role="complementary">
          <nav class="gem-c-contents-list " aria-label="Pages in this guide" role="navigation" data-module="track-click">
            <h2 class="gem-c-contents-list__title">Contents</h2>
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="before-you-appeal.html">Before you appeal</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="when-you-can-appeal.html">When you can appeal</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">How to appeal</li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="after-you-appeal.html">After you submit your appeal</a>
              </li>
            </ol>
          </nav>
        </aside>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l govuk-guidance-header-margin">How to appeal</h2>
        <p>You can <a href="/v2/">appeal a householder planning decision online</a>.</p>
        <p>You need to send a copy of your appeal, including all the supporting documents, to your Local Planning Authority. The Planning Inspectorate will tell you how to do this.​</p>
        <h2 class="govuk-heading-m govuk-guidance-header-margin">The stages of an appeal</h2>
        <figure class="govuk-!-padding-bottom-4">
            <img src="/public/images/timeline.svg"
                 alt="The stages of an appeal">
            <figcaption class="visually-hidden">The stages of an appeal
              1. Submit appeal​: Start your appeal using the online service. You’ll need to have your original planning application details to hand.​
              2. Appeal validation: We’ll let you know when we’ve validated your appeal.​
              3. Inspector is allocated​: We’ll contact you at this stage and provide details of the appeal timetable from this point on.​
              4. Site visit scheduled​: We’ll contact you at this stage (if required).​
              5. Inspector considers appeal documents​: We’ll contact you at this stage.
            </figcaption>
        </figure>
        <h3 class="govuk-heading-m">How your appeal will be decided​</h3>
        <p>Householder planning appeals are always decided by written representations, which means the planning inspector looks at written evidence from all parties to reach a decision.</p>

        <h3 class="govuk-heading-m">Documents you must provide​</h3>
        <p>You’ll need to upload copies of:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your original planning application</li>
          <li>the Local Planning Authority’s decision notice​</li>
          <li>your appeal statement​</li>
        </ul>
        <p><a href="#write">How to write your appeal statement</a></p>
        <p>You can upload these documents when you appeal.​</p>
        <p>There’s more guidance on the appeals website and appeals form about which documents to submit.</p>

        <h3 class="govuk-heading-m">Commenting on an appeal​</h3>
        <p>Unlike a full planning appeal, no one can comment on a householder planning appeal. Your Local Planning Authority must tell anyone who has commented on the original application (‘interested parties’) that there’s an appeal.​</p>

<!-- Navigation-->
        <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
          <ul class="gem-c-pagination__list" data-module="track-click">
            <li class="gem-c-pagination__item gem-c-pagination__item--previous">
              <a href="when-you-can-appeal.html" class="gem-c-pagination__link" rel="prev">
                <span class="gem-c-pagination__link-title">
                  <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                  </svg>
                  <span class="gem-c-pagination__link-text">
                    Previous
                  </span>
                </span>
                  <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                  <span class="gem-c-pagination__link-label">When you can appeal</span>
              </a>
            </li>
            <li class="gem-c-pagination__item gem-c-pagination__item--next">
              <a href="after-you-appeal.html" class="gem-c-pagination__link" rel="next">
                <span class="gem-c-pagination__link-title">
                  <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                  <span class="gem-c-pagination__link-text">
                    Next
                  </span>
                </span>
                  <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                  <span class="gem-c-pagination__link-label">After you submit your appeal</span>
              </a>
            </li>

          </ul>
        </nav>

        <div class="app-c-print-link">
          <a href="/appeal-planning-decision/print" class="app-c-print-link__link govuk-link" rel="alternate">
            Print entire guide
          </a>
        </div>

      </div>

      <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Related content
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link" href="#">
                  Planning appeals: procedure guide
                </a>
              </li>
              <li>
                <a class="govuk-link" href="#">
                  Planning appeals: how to complete your appeal form
                </a>
              </li>
              <li>
                <a href="#" class="govuk-link govuk-!-font-weight-bold">
                  More <span class="govuk-visually-hidden">in Subsection</span>
                </a>
              </li>
            </ul>
          </nav>
        </aside>

      </div>
    </div>

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
  <div class="gem-c-contextual-footer">
    
  <div class="gem-c-related-navigation">





      <nav role="navigation" class="gem-c-related-navigation__nav-section">
        <h2 class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer">Explore the topic</h2>
        <ul class="gem-c-related-navigation__link-list" data-module="track-click">
          <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="#">Related topic link</a></li>
          <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="#">Related topic link</a></li>
          <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="#">Related topic link</a></li>
        </ul>
      </nav>

  </div>

  </div>


    </div>
  </div>
  </main>
</div>

{% endblock %}
