{% extends "layout-email.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

<p>Subject: Your planning appeal</p>
<p>From: info@planninginspectorate.gov.uk</p>

<img src="{{ asset_path }}images/pi-logo.png" width="150"/>

<div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">


<p>Dear {{data.user.name.first}} {{data.user.name.last}}</p>

<p>Your local council has submitted their evidence for your appeal. </p>
<p><a href="/your-appeal-v2/appellant/local-council-docs" title="">Check your appeal progress</a> to view the council's evidence.</p>

<p>Regards,<br>
The Planning Inspectorate</p>

</div>
</div>
{% endblock %}