{% extends "layout-email.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

<p>Subject: Your planning appeal</p>
<p>From: info@planninginspectorate.gov.uk</p>

<img src="{{ asset_path }}images/pi-logo.png" width="150"/>

<div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">


<p>Dear {{data.user.name.first}} {{data.user.name.last}}</p>

<p>We have received your submission for the following householder planning appeal: </p>
<h2 class="govuk-heading-s">Appeal site</h2>
			<p>9617 The Avenue <br>
					Maidstone <br>
					XM26 7YS</p>

<h2 class="govuk-heading-s">Local planning department​</h2>
​<p>Maidstone Borough Council</p>

<h2 class="govuk-heading-s">What happens next?​</h2>

<p>We need to make sure your appeal is valid. This should take around 2 weeks, but may take longer in busy periods.​</p>

<ul class="govuk-list govuk-list--bullet">
<li>Once we’ve checked that your appeal is valid, we’ll start your appeal. ​</li>
<li>Your local planning department will then submit their evidence. This usually takes around 1 week after you submit your appeal. ​</li>
<li>An Inspector may need to make a site visit. ​</li>
</ul>
​<p>We will contact you at each of these stages.​</p>


<p><a href="/your-appeal-v3/appellant/submitted">View the status of your planning appeal</a></p>

<p>Kind regards<br>
The Planning Inspectorate</p>

</div>
</div>
{% endblock %}