{% extends "layout.html" %}

{% block pageTitle %}
  Check answers | Appeal a householder planning decision
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Submit your appeal</span>
      <h1 class="govuk-heading-l">
        Check your answers
      </h1>
      <p>Before you submit your appeal, check that the information you've provided is correct.</p>

      {% include "../appellant-submission/_check-answers-list.html" %}

      
      <form action="submission" method="post" novalidate>
        <button class="govuk-button" data-module="govuk-button">
            Continue
        </button>
      </form>
    </div>

    
  </div>

{% endblock %}




{% block footer %}
    {{ govukFooter({
  navigation: [
    {
      title: "Contact the Planning Inspectorate",
      columns: 2,
      items: [
        {
          href: "tel:03034445000",
          text: "Customer Support: England 0303 444 5000"
        },
        {
          href: "mailto:enquiries@planninginspectorate.gov.uk",
          text: "enquiries@planninginspectorate.gov.uk"
        }
      ]
    },
    {
      title: "Service information",
      items: [
        {
          href: "#1",
          text: "Terms and conditions"
        },
        {
          href: "#2",
          text: "Privacy and cookies"
        },
        {
          href: "#3",
          text: "Accessibility"
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
          },
        {
          href: "/appellant-submission/check-answers-print",
          text: "Check answers printable"
          }
      ]
    }
  ]
}) }}

  {% endblock %}
