{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Confirmation | Appeal a householder planning decision
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Appeal submitted
          </h1>
          <div class="govuk-panel__body">We've sent a confirmation email to: <br> {{ data['appellant-email'] }}</div>
        </div>
         <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
          Your appeal has been submitted to the Planning Inspectorate, and a copy sent to Maidstone Burough Council.
        </p>
        <p class="govuk-body">
          The Planning Inspectorate will be in touch about the next stage of your appeal.​
        </p>

        <p class="govuk-body">
          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p>
      </div>
    </div>

  </div>
{% endblock %}
 