{% extends "layout-notify.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

<h2 class="govuk-heading-l">Appeal a householder planning decision</h2>


<p>Use the link provided to access the online service and continue your appeal</p>
<p><a href="../task-list-return">https://householder-appeal.service.gov.uk/return/?ref=aiuefbdjher19nmb00</a></p>
<p>Regards, Planning Inspectorate</p>
<p>Need help? You can <a href="mailto:enquiries@planninginspectorate.gov.uk">email our customer support team</a> or call them on 0303 444 5000
{% endblock %}
