{% extends "layout-notify.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

<h2 class="govuk-heading-l">Appeal a householder planning decision</h2>

<h3 class="govuk-heading-m">Verification of email address</h3>

<p>This email address has been associated with a householder planning appeal.</p>


<p>Use this link to confirm this addess and continue saving your progress: <a href="save-confirmation">https://householder-appeal.service.gov.uk/return/?ref=asdjkhasjkhf23458978nvsjklcvjkb</a></p>

<p>If this was not you, don't worry no further action is neccessary -you can safely delete this message.</p>
<p>Regards, Planning Inspectorate</p>
<p>Need help? You can <a href="mailto:enquiries@planninginspectorate.gov.uk">email our customer support team</a> or call them on 0303 444 5000
{% endblock %}
