{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="application-date" method="post" novalidate>
        <span class="govuk-caption-xl">About the original planning application</span>
        <h1 class="govuk-heading-xl">
          Name of applicant
        </h1>
          <p>Enter the name exactly as it appears on the planning application, or your appeal will be invalid.</p>
          <p class="govuk-!-padding-bottom-6">If you applied on behalf of a business, the appeal should be in that name.</p>
        <div class="govuk-form-group">
          <label class="govuk-label" for="appellant-name">
            Name on planning application
          </label>
          <input class="govuk-input" id="appellant-name" name="appellant-name" type="text">
        </div>
        <div class="govuk-form-group">
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
