{% extends "layout.html" %}

{% block pageTitle %}
  Local Planning authority details
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">You cannot appeal</h1>
        <p class="govuk-body">
          Only the person that made the original application, or someone representing them with their permission may make an appeal.
        </p>
        <p class="govuk-body">
          See our <a class="govuk-link" href="#">guide to appealing a planning decision</a> for more information.
        </p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
