{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Please complete | Appeal a planning decision
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Appeal a householder planning decision
      </h1>
      <p>A householder appeal must be received by the Planning Inspectorate within 12 weeks of the decision date.</p>
      <p>If you do not submit it in time, you will lose your right to appeal.</p>
      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span>Before you start
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v1/your-relationship" aria-describedby="">
                  Eligibility questions
                </a>
              </span>
               <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span>About you
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v1/your-relationship" aria-describedby="">
                  Your details
                </a>
              </span>
            </li>
          </ul>
        </li>
        
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> About the relevant Local Planning Authority
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v1/lpa-details">
                  Local Planning Authority details
                </a>
              </span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v1/upload-decision">
                  Upload the decision notice
                </a>
              </span>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> About the original planning application
          </h2>
          <ul class="app-task-list__items"> 
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v1/application-name">
                  Name of applicant
                </a>
              </span>
            </li>       
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v1/application-date">
                  Date of application
                </a>
              </span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v1/upload-application">
                  Upload the application
                </a>
              </span>
              
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v1/upload-application-changes">
                  The description of the development
                </a>
              </span>
              
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> About the site
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v1/site-location">
                  Site location
                </a>
              </span>
              
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v1/site-access">
                  Access to site
                </a>
              </span>
              
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v1/site-ownership">
                  Site ownership
                </a>
              </span>
              
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v1/notification">
                  Agricultural holding
                </a>
              </span>
              
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">6. </span> Your appeal
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v1/grounds-of-appeal">
                  Upload your grounds of appeal statement
                </a>
              </span>
              
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v1/supporting-documents">
                 Upload documents to support your grounds
                </a>
              </span>
              
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v1/other-appeals">
                  Details of other relevant appeals
                </a>
              </span>
              
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">7. </span> Submit your appeal
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/v1/check-answers">
                  Check your answers
                </a>
              </span>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>

{% endblock %}
