{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl"><span class="govuk-visually-hidden">Section. </span>Save and return</span>
        <h1 class="govuk-heading-xl">
          Confirmation
        </h1>
        <p>We've sent an email to: <strong>{{ data['return-email'] }}</strong></p>
        <p>This contains a link to get you back into your appeal.</p>

        <p><a href="../task-list">Continue with your appeal</a></p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h4 class="govuk-heading-s">If you're having problems</h4>
      <ul class="govuk-list govuk-list--bullet">
        <li>check the email hasn't gone into your spam/bulk folder</li>
        <li>we can <a href="return-info">resend the email</a></li>
        <li><a class="govuk-link" href="#">contact the Planning Appeals Helpdesk</a> if you need help</li>
      </ul>

        <br><br><br><br><br><br>
        <p><a href="notify-letter">(View email)</a></p>
        </div>
  </div>

{% endblock %}
