{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl"><span class="govuk-visually-hidden">Section. </span>Save and return</span>
        <h1 class="govuk-heading-xl">
          Your reference code
        </h1>
        <p>We've sent an email to: <strong>{{ data['return-email'] }}</strong></p>
        <p>This contains your reference code and a link to get you back into your appeal.</p>
        <p><a href="notify-letter">(View email)</a></p>

        <p><a href="../task-list">Return to appeal</a></p>
        </div>
  </div>

{% endblock %}
