{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl"><span class="govuk-visually-hidden">Section. </span>Save and return</span>
        <h1 class="govuk-heading-xl">
          Your reference code
        </h1>
        <div class="pins-reference-code-panel">
          <p class="govuk-body govuk-!-font-size-80 govuk-!-font-weight-bold">1234AB</p>
        </div>
        
        <h2 class="govuk-heading-m">What to do with your reference</h2>
        <p>The code above is your unique reference. You can use this to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>return to your appeal and continue</li>
          <li>see the progress of your appeal once you have submitted</li>
        </ul>


        <p><a href="../task-list">Return to appeal</a></p>
        </div>
  </div>

{% endblock %}
