{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- <span class="govuk-caption-xl"><span class="govuk-visually-hidden"></span>{{data.user.location.street.number}} {{data.user.location.street.name}} </span> -->
      
      <h1 class="govuk-heading-l">
        The status of your planning appeal
      </h1>


            <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Appellant Name</dt>
          <dd class="govuk-summary-list__value">{{data.user.name.first}} {{data.user.name.last}}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Site address</dt>
          <dd class="govuk-summary-list__value">{{data.user.location.street.number}} {{data.user.location.street.name}},
                {{data.user.location.city}}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Status</dt>
          <dd class="govuk-summary-list__value">{{govukTag({
              text: "Appeal unsuccessful",
              classes: "govuk-tag--red govuk-!-margin-bottom-2"
            })}}
          <p><a href="decision-unsuccessful">View the full details of the appeal decision</a></p>
          <p>If you think the Planning Inspectorate made a legal mistake, you can <a href="/v5/guidance/after-you-appeal">challenge the decision in the High Court</a>.</p>
        </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Appeal progress</h2>


      <ol class="timeline">

        <li class="timeline__entry timeline__entry--complete">
          <h2 class="timeline__header">Appeal sent </h2>
          <span class="timeline__sub-header govuk-!-margin-bottom-5">{{ 0 | daysAgo }}</span>
          <p><a href="appeal-details">View your appeal details</a></p>
        </li>

        <li class="timeline__entry timeline__entry--complete ">
          <h2 class="timeline__header">The local planning department uploaded their evidence</h2>
          <span class="timeline__sub-header govuk-!-margin-bottom-5">{{ 7 | daysInFuture }}</span>

          <p><a href="council-evidence">View the local planning department's evidence</a>
        </li>

        <li class="timeline__entry timeline__entry--complete">
          <h2 class="timeline__header">Site visit completed</h2>
          <span class="timeline__sub-header govuk-!-margin-bottom-5">{{ 14 | daysInFuture }}</span>
        </li>

        <li class="timeline__entry timeline__entry--complete">
          <h2 class="timeline__header">Decision</h2>
          <span class="timeline__sub-header govuk-!-margin-bottom-5">{{ 21 | daysInFuture }}</span>
          <p>Your appeal has been unsuccessful</p>
          <p><a href="decision-unsuccessful" title="">View the full details of the appeal decision</a></p>
        </li>
      </ol>



    </div>
  </div>

{% endblock %}
