{% extends "layout.html" %}

{% block pageTitle %}
  Check answers
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <span class="govuk-caption-xl">Submit your appeal</span>
      <h1 class="govuk-heading-xl">
        Check your answers before sending your appeal
      </h1>

      <h2 class="govuk-heading-m">About you</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Your name
            </dt>
            <dd class="govuk-summary-list__value">
               Manish Sharma
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="your-details">
                Change<span class="govuk-visually-hidden"> your name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Your email
            </dt>
            <dd class="govuk-summary-list__value">
               manish.sharma@example.com
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="your-details">
                Change<span class="govuk-visually-hidden"> your email</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Company name
            </dt>
            <dd class="govuk-summary-list__value">
              Acme Inc.
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="company-details">
                Change<span class="govuk-visually-hidden"> company details</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">About the relevant Local Planning Authority</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name of LPA
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Brighton and Hove County Council</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="lpa-details">
                Change<span class="govuk-visually-hidden"> LPA name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Planning application number
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">W/828006F</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="lpa-details">
                Change<span class="govuk-visually-hidden"> planning application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Decision notice
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">w828006f_FINAL.pdf</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="upload-decision">
                Change<span class="govuk-visually-hidden"> uploaded decision notice</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">About the original planning application</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of application
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">20/01/2020</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="application-date">
                Change<span class="govuk-visually-hidden"> date of application</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Original application
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">13EastHill_application.doc</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="upload-application">
                Change<span class="govuk-visually-hidden"> uploaded application</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Changes to application
            </dt>
            <dd class="govuk-summary-list__value">
              <p>Conversion of garage into habitable rooms with associated works.</p>
              <p class="govuk-body">proposal_update.doc</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="upload-application-changes">
                Change<span class="govuk-visually-hidden"> uploaded changes to application</span>
              </a>
            </dd>
          </div>
      </dl>

     <h2 class="govuk-heading-m">About the site</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Site location
          </dt>
          <dd class="govuk-summary-list__value">
            Buckingham Palace<br>
            London<br>
            SW1A 1AA
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="site-location">
              Change<span class="govuk-visually-hidden"> site location</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Within Green Belt?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="site-location-green-belt">
              Change<span class="govuk-visually-hidden"> green belt status</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Can the whole site be seen from public land?
          </dt>
          <dd class="govuk-summary-list__value">
            Visible from common land adjoining property.
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="site-access">
              Change<span class="govuk-visually-hidden"> public visibility of site</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is access to the site restricted?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="site-access-restricted">
              Change<span class="govuk-visually-hidden"> access restrictions of site</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are there any health and safety issues?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="site-access-safety">
              Change<span class="govuk-visually-hidden"> health and safety concerns of site</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you feel it’s necessary for an Inspector to visit the site
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="site-access-visit">
              Change<span class="govuk-visually-hidden"> need for inspector to visit</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you own the whole appeal site?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="site-ownership">
              Change<span class="govuk-visually-hidden"> site ownership</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the site part of an agricultural holding?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="notification">
              Change<span class="govuk-visually-hidden"> agricultural holding status</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Your appeal</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your grounds of appeal
          </dt>
          <dd class="govuk-summary-list__value">
            ms_appeal02.pdf
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="grounds-of-appeal">
              Change<span class="govuk-visually-hidden"> grounds of appeal</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Other documents
          </dt>
          <dd class="govuk-summary-list__value">
            environmental-report.pdf<br>
            light_levels.docx
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="supporting-documents">
              Change<span class="govuk-visually-hidden"> other documents</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Details of other relevant appeals
          </dt>
          <dd class="govuk-summary-list__value">
            44East_Hill-application7419.doc
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="other-appeals">
              Change<span class="govuk-visually-hidden"> other relevant appeals</span>
            </a>
          </dd>
        </div>


      </dl>


      <form action="submission" method="post" novalidate>
        <button class="govuk-button" data-module="govuk-button">
            Accept and send
        </button>
      </form>
    </div>
  </div>

{% endblock %}
