{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="supporting-documents" method="post" novalidate>
        <span class="govuk-caption-xl">Your appeal</span>
        <h1 class="govuk-heading-xl">
          Upload grounds of appeal statement
        </h1>  
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help writing your statement
            </span>
          </summary>
          <div class="govuk-details__text">
            <h4 class="govuk-heading-s">Writing your Grounds of Appeal statement</h4>
            <p>Your Grounds of Appeal statement sets out why you’re appealing against a decision taken by your local planning authority (LPA). You only get one chance to submit it, so it’s important to get it right.</p>

            <h4 class="govuk-heading-s">Your Grounds of Appeal statement should be clear, concise and under 3,000 words. It should:</h4>
            <ul>
              <li>respond directly to each of the LPA’s reasons for refusal, focusing on areas of disagreement. It should not include information that is not directly relevant</li>
              <li>reference any documents you plan to rely on, and mention all relevant planning policies not contain racist, inflammatory or abusive language</li>
            </ul>
             
            <h4 class="govuk-heading-s">It should:</h4>
            <ul>
              <li>respond to each of the LPA’s reasons for refusal (shown on your decision notice)</li>
              <li>respond to comments from interested parties received during the application stage. Not all LPAs publish these, so check with them directly</li>
              <li>If you need to include emails, remove any repetition so the key points are clear</li>
              <li>include metric measurements of distances between the properties, particularly for windows, if the effect on neighbours is a reason for refusal. If you cannot get access, use approximate measurements</li>
              <li>include details of appeals made by other people relating to the site, or nearby sites, quote the appeal reference number or the site address</li>
              <li>include details of similar developments in the immediate area. If you do, identify them on a    street map with their address and photographs if possible</li>
              <li>include details of any conditions you’d be prepared to accept, accompanied by your reasons</li>
              <li>include relevant extracts of other policies not mentioned in the LPA’s decision notice</li>
            </ul>
             
            <h4 class="govuk-heading-s">It should not:</h4>
            <ul>
              <li>repeat the LPA’s reasons for refusal as shown on the decision notice. Just include your responses, setting out clearly why you disagree</li>
              <li>include any special category information. If you do, you must declare it. View a full list of what constitutes special category information</li>
              <li>quote national policy in detail (such as the National Planning Policy Framework) - just refer to relevant paragraphs by number</li>
              <li>include a detailed history of the application itself, such as discussions with LPA officers</li>
            </ul>
             
            <h4 class="govuk-heading-s">Supporting documentation</h4>
            <p>Keep any supporting documentation to a minimum and make sure they relate directly to the reasons for refusal and any issues in dispute.</p>
            <p>If you include photographs, give details of when and where they were taken as well as what they show. Take reasonable care to respect privacy if you take pictures in public places.</p>
          </div>
        </details>
        <div class="govuk-inset-text">
          If you need to, you can <a href="">save your progress now and come back later</a>.
        </div>

        <div class="govuk-form-group">
          <label class="govuk-heading-m" for="file-upload-1">
            Upload a file
          </label>
          <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
        </div>

        <div class="govuk-form-group">
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
