{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Appeal a householder planning decision</span>
      <h1 class="govuk-heading-xl">
        Prototype list
      </h1>
      <p>Iteration history of prototypes, with links out to the insight from each round of research.</p>

      <h2 class="govuk-heading-m">Version 1</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full appeal submission
            </dt>
            <dd class="govuk-summary-list__value">
               First verison of end-to-end journey to test task list pattern, section headers, and use of simpler, clearer language. We also removed several steps from the original HAS journey on ACP.
               <br><a href="#">Research findings</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="v1">
                View<span class="govuk-visually-hidden"> this prototype</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Eligibility checker
            </dt>
            <dd class="govuk-summary-list__value">
               Created to test 'can I use this service' pattern, and test if users prefer to be stopped before they start when dealing with grounds of appeal.
               <br><a href="#">Research findings</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="v1/eligibility/">
                View<span class="govuk-visually-hidden"> this prototype</span>
              </a>
            </dd>
          </div>
        </dl>

    </div>
  </div>

{% endblock %}
