{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Prototype list
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Appeal a householder planning decision</span>
      <h1 class="govuk-heading-xl">
        Prototype list
      </h1>

      <h2 class="govuk-heading-l">Beta</h2>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m">Appellant submission</h3>
        <p>Updated journey based on research findings and plan for Beta MVP.</p>
        <p><a class="govuk-button" href="appellant-submission/start-your-appeal">
          View  prototype
        </a> </p>
      </dt>
    </div>
    <div class="govuk-grid-column-one-half">
      <h4 class="govuk-heading-s">Current version</h4>
      <p>Last updated: Sprint 2</p>
      <p>Update of appelland submission due to changes to required stories for MVP.</p>
    
      <h3 class="govuk-heading-s">Version history</h3>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Version 2 - Sprint 2
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>Re-work of submission prototype based on MVP story map. Git tag: "v2"</p>
            <ul class="govuk-list">
              <li><a href="https://has-appeal-archive-2.herokuapp.com/appellant-submission/start-your-appeal" target="_blank" class="govuk-link">View prototype</a></li>
              <li><a href="https://pins-ds.atlassian.net/wiki/spaces/AAPDS/pages/313655361/Sprint+2+UR" target="_blank">User research findings</a></li>
            </ul>
          </div>
        </details>


        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Version 1 - Sprint 1
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>Re-work of submission prototype based on MVP story map. Git tag: "v1"</p>
            <ul class="govuk-list">
              <li><a href="https://has-appeal-archive-1.herokuapp.com/appellant-submission/start-your-appeal" target="_blank" class="govuk-link">View prototype</a></li>
              <li><a href="https://pins-ds.atlassian.net/wiki/spaces/AAPDS/pages/288882922/Sprint+1+UR" target="_blank">User research findings</a></li>
            </ul>
          </div>
        </details>
    
    </div>
  </div>

  <hr class="govuk-section-break govuk-!-margin-bottom-9  govuk-section-break--visible">
  

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m">User journey for LPA/Idox integration</h3>
        <p>Full user journey for proposed beta, from start page through to appeal submit.</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Select South Gloucestershire Council</li>
            <li>P20/12345/F - Refused. Able to appeal</li>
            <li>P20/56789/F - Refused. Over deadline.</li>
          </ul>

        <a class="govuk-button" href="/eligibility/start-your-appeal">View prototype</a>

      </dt>
    </div>
    <div class="govuk-grid-column-one-half">
      <h4 class="govuk-heading-s">Current version</h4>
      <p>Last updated: Sprint 2</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>User journey created based on proof of concept for idox integration.</li>
      </ul>
    </div>
  </div>

  <hr class="govuk-section-break govuk-!-margin-bottom-9  govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m">Information from local council</h3>
        <p>The LPA questionnaire</p>
        
        <p><a class="govuk-button" href="lpa-submission/email">
          View  prototype
        </a> </p>
      </dt>
    </div>
    <div class="govuk-grid-column-one-half">

      <h4 class="govuk-heading-s">Current version</h4>
      <p>Last updated: Sprint 2</p>
      <ol class="govuk-list govuk-list--number">
        <li>Iteration based on user research by Liam</li>
        <li>Multiple file uploader added by Jamie</li>
        <li>2nd iteration based on user research by Liam</li>
      </ol>
      <h3 class="govuk-heading-s">Version history</h3>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version 1 - Alpha sprint 20
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>First version of questionnaire based on <a href="https://pins-ds.atlassian.net/wiki/spaces/AAPDS/pages/154337658/Revised+LPA+Questionnaire+for+beta+service+feedback">Picasso service questions</a></p>
          <ul class="govuk-list">
            <li><a href="https://has-appeal-alpha.herokuapp.com/lpa-submission/email" class="govuk-link">View prototype</a></li>
            <li><a href="https://pins-ds.atlassian.net/wiki/spaces/AAPDS/pages/260571176/Sprint+20+UR">User research findings</a></li>
          </ul>
        </div>
      </details>


    </div>
  </div>

  <hr class="govuk-section-break govuk-!-margin-bottom-9  govuk-section-break--visible">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">



      <h2 class="govuk-heading-l">Alpha</h2>
      <p>Prototypes developed duting alpha have been moved to a separate server:</p>
      <p><a href="https://has-appeal-alpha.herokuapp.com/">View alpha prototypes</a></p>
    </div>
  </div>
</div>
{% endblock %}
