{% extends "layout.html" %}

{% block pageTitle %}
  Local Planning authority details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="lpa-details-decision" method="post" novalidate>
        <span class="govuk-caption-xl">About the relevant Local Planning Authority</span>
        <h1 class="govuk-heading-xl">
          LPA details
        </h1>
        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Enter the full name of the LPA that dealt with your application
          </label>
          <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Planning application number
          </label>
          <span id="event-name-hint" class="govuk-hint">
            You can find this on the LPA decision notice.
          </span>
          <input class="govuk-input govuk-!-width-one-half" id="event-name" name="event-name" type="text">
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
