{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Appeal a planning decision
      </h1>

     <div class="govuk-form-group">
      <label class="govuk-label" for="event-name">
        Name of the LPA that refused your application
      </label>
      <span id="event-name-hint" class="govuk-hint">
        The hint text goes here.
      </span>
      <input class="govuk-input" id="event-name" name="event-name" type="text">
    </div>
    </div>
  </div>

{% endblock %}
