{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="site-ownership-check" method="post" novalidate>
        <span class="govuk-caption-xl">About the site</span>
        <h1 class="govuk-heading-xl">
          Site ownership
        </h1>        
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Do you own the whole appeal site?
                </h1>
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name" name="site-owner-names" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="changed-name">
                    Yes, I am the sole owner of the appeal site
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-2" name="site-owner-names" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>


        <div class="govuk-form-group">
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
