{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="upload-application-changes" method="post" novalidate>
      <span class="govuk-caption-xl">Your appeal</span>
      <h1 class="govuk-heading-xl">
        Upload documents to support your grounds
      </h1>
      <p>These could be:
        <ul class="govuk-list govuk-list--bullet">
          <li>details of similar developments in the immediate area</li>
          <li>previous planning or appeal decisions relevant to the site</li>
          <li>extracts of other relevant policies not referred to on the LPA's decision notice</li>
          <li>photographs to illustrate your grounds of appeal – for example, showing your house and its relationship to its neighbours</li>
        </ul>
      </p>

      <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload-1">
          Upload a file
        </label>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>

      <div class="govuk-form-group">
      <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </form>
    </div>
  </div>

{% endblock %}



We have to be sure they've notified.
We can do this on the day of the appeal.
We give them chance to sort it out.

"We just need to know who owns the land".
Who owns the land?

I am the sole owner
I am a shared owner - (tells us who else owns the land)
Certificate B is the tricky one. Let's look at this.

Has anyone moved out basically.




We need green balt and listed building I think - because there are two appeals!?
WHY ARE THERE TWO DECISIONS???

LISTED BUILDING IS OUT OF SCOPE - but needs to be asked.


make a HAS appeal,
make a listed building appeal
we see them as linked together and take them out of HAS.
